<!DOCTYPE html>
{% extends "layout_officialCopies.html" %}
{% block pageTitle %} Basket
{% endblock %}
{% block content %}

{% include "includes/officialCopiesNavigation.html" %} 

<script>

 document.addEventListener("DOMContentLoaded", function(event){
    document.getElementById("checkoutTotal").innerHTML = 'Order total: £' + sessionStorage.getItem("basketTotalCost") + '.00';

    var InBasket1 = sessionStorage.getItem('InBasket');
    document.getElementById('addBasketItemsHere').innerHTML = InBasket1;
    if(parseInt(sessionStorage.getItem("basketQuantity")) >= 1){
        document.getElementById("basketCounter").style.display = 'block';
        var InBasketCounter = sessionStorage.getItem('counterForBasket');
        document.getElementById("basketCounter").innerHTML = sessionStorage.getItem("basketQuantity");
        document.getElementById("totalCostofBasket").innerHTML = '£' + sessionStorage.getItem("basketTotalCost") + '.00';
        document.getElementById("checkout-button").style.display = 'block';
    }
    onloadCheck('27a-checkbox-1', '27a-register');
    onloadCheck('27a-checkbox-2', '27a-titlePlan');
    onloadCheck('27a-checkbox-all', '');
    onloadCheck('27b-checkbox-1', '27b-register');
    onloadCheck('27b-checkbox-2', '27b-titlePlan');
    onloadCheck('27b-checkbox-all', '');
    onloadCheck('144a-checkbox-1', '144a-register');
    onloadCheck('144a-checkbox-2', '144a-titlePlan');
    onloadCheck('144a-checkbox-all', '');
    onloadCheck('144b-checkbox-1', '144b-register');
    onloadCheck('144b-checkbox-2', '144b-titlePlan');
    onloadCheck('144b-checkbox-all', '');
    onloadCheck('144c-checkbox-1', '144c-register');
    onloadCheck('144c-checkbox-2', '144c-titlePlan');
    onloadCheck('144c-checkbox-all', '');
    onloadCheck('144d-checkbox-1', '144d-register');
    onloadCheck('144d-checkbox-2', '144d-titlePlan');
    onloadCheck('144d-checkbox-all', '');

    var additionalDocsAdded = 0;
    if(sessionStorage.getItem('27a-checkbox-deed')){
      additionalDocsAdded += 1;
    }
    if(sessionStorage.getItem('27a-checkbox-lease')){
      additionalDocsAdded += 1;
    }
    if(sessionStorage.getItem('27a-checkbox-transfer')){
      additionalDocsAdded += 1;
    }
    if(sessionStorage.getItem('27a-checkbox-charge')){
      additionalDocsAdded += 1;
    }
    if(additionalDocsAdded != 0){
      document.getElementById('howManyAdditionals').innerHTML = additionalDocsAdded + ' additional documents added';
      document.getElementById('howManyAdditionals').style.display = 'inline-block';

    }
 


    // var InBasket2 = sessionStorage.getItem('CostAndCheckoutButton');
    // document.getElementById('TotalCostandCheckout').innerHTML = InBasket2;


  })
 
  // document.addEventListener("DOMContentLoaded", function(event){
  //   if(sessionStorage.getItem("InBasket") != null){
  //     var InBasket1 = sessionStorage.getItem('InBasket');
  //     document.getElementById('basketNavigation').innerHTML = InBasket1;
  //   }
  // })
   
  
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>



<style>
</style>



<div>



<div style="margin: auto;">

    <!-- Filters and Search Section - Start -->



      
  <!-- Table Area - Start -->



    <div class="govuk-width-container wide1100">

      <a class="govuk-back-link" style="margin-top:50px;margin-bottom: 50px;" href="javascript: history.go(-1)">Back</a>
    
      <main class="govuk-main-wrapper" style="padding:0px 0px 100px 0px;">
    
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-full" style="padding-bottom: 25px;">
            <h1 class="govuk-heading-xl">Basket</h1>
            <p class="govuk-body">Check your basket, add customer references, then press the ‘Place order’ button to make your purchase.</p>
            <p class="govuk-body">Your variable Direct Debit (VDD) will then be charged.</p>
          </div>

                          <div class="wide80percent">
                            <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:10px;">Documents</p>
                          </div>

                          <div class="wide20percent">
                            <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:10px;">Customer references</p>
                          </div>



                          <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                          
                            <!-- 27a Drakefell Road -->
                            <div>
                              <div class="wide80percent">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">


                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">SGL479276</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">27a Drakefell Road, CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost">£18.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>
                                        
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="panel-body">

                                              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                                  <table class="govuk-table">
                                                    <thead>
                                                      <tr class="govuk-table__row">
                                                            <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                            <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                            <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                            <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                            <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                        </tr>
                                                    </thead>

                                                    <tbody class="govuk-table__body">

                                                        <tr class="govuk-table__row">
                                                            <td class="govuk-table__cell">Register</td>
                                                            <td class="govuk-table__cell">Official copy</td>
                                                            <td class="govuk-table__cell">PDF</td>
                                                            <td class="govuk-table__cell">£3.00</td>
                                                            <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                        </tr>
                                                        
                                                        <tr class="govuk-table__row govuk-table__row">
                                                          <td class="govuk-table__cell">Title plan</td>
                                                          <td class="govuk-table__cell">Official copy</td>
                                                          <td class="govuk-table__cell">PDF</td>
                                                          <td class="govuk-table__cell">£3.00</td>
                                                          <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row">
                                                          <td class="govuk-table__cell">Deed</td>
                                                          <td class="govuk-table__cell">B3</td>
                                                          <td class="govuk-table__cell">PDF</td>
                                                          <td class="govuk-table__cell">£3.00</td>
                                                          <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row">
                                                          <td class="govuk-table__cell last">Lease</td>
                                                          <td class="govuk-table__cell last">L1</td>
                                                          <td class="govuk-table__cell last">PDF</td>
                                                          <td class="govuk-table__cell last">£3.00</td>
                                                          <td class="govuk-table__cell last"><a class="accordionRemove" href="">Remove</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row">
                                                          <td class="govuk-table__cell">Transfer</td>
                                                          <td class="govuk-table__cell">A3,A5,C3,C4</td>
                                                          <td class="govuk-table__cell">PDF</td>
                                                          <td class="govuk-table__cell">£3.00</td>
                                                          <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row">
                                                          <td class="govuk-table__cell last">Charge</td>
                                                          <td class="govuk-table__cell last">C1,C2</td>
                                                          <td class="govuk-table__cell last">PDF</td>
                                                          <td class="govuk-table__cell last">£3.00</td>
                                                          <td class="govuk-table__cell last"><a class="accordionRemove" href="">Remove</a></td>
                                                        </tr>
              
                                                    </tbody>
                                                  </table>
                                              </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="">

                                    <input class="govuk-input referenceFormfield" id="reference-1" name="reference-1" type="text" placeholder="Reference">
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 27b Drakefell Road -->
                            <div>
                              <div class="wide80percent">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">SGL479276</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">27b Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body">

                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="">

                                    <input class="govuk-input referenceFormfield" id="reference-2" name="reference-2" type="text" placeholder="Reference">
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 144a Drakefell Road -->
                            <div>
                              <div class="wide80percent">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144a Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body">

                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="">

                                    <input class="govuk-input referenceFormfield" id="reference-3" name="reference-3" type="text" placeholder="Reference">
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 144b Drakefell Road -->
                            <div>
                              <div class="wide80percent">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144b Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body">

                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="">

                                    <input class="govuk-input referenceFormfield" id="reference-4" name="reference-4" type="text" placeholder="Reference">
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 144c Drakefell Road -->
                            <div>
                              <div class="wide80percent">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144c Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body">

                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="">

                                    <input class="govuk-input referenceFormfield" id="reference-5" name="reference-5" type="text" placeholder="Reference">
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 144d Drakefell Road -->
                            <div>
                              <div class="wide80percent">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144d Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body">

                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a class="accordionRemove" href="">Remove</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="">

                                    <input class="govuk-input referenceFormfield" id="reference-6" name="reference-6" type="text" placeholder="Reference">
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

          
          
                          </article>
                          

          </div>

          <div class="dividerLine5"></div>

          <div>
              <div class="wide80percent" style="padding-left:0px;">
                <p id="checkoutTotal" class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:0px;line-height:38px;">Order total: xxxx</p>
              </div>

              <div class="wide20percent" style="padding:0px 0px 0px 10px;">
                <button class="govuk-button" data-module="govuk-button" style="width:100%;margin-bottom:0px;" onclick="window.location.href='confirmation.html'">
                  Place order
                </button>
              </div>
          </div>

        </div>

        
    
      </main>
    </div>




</div>


{% include "includes/officialCopiesFooter.html" %} 

{% endblock %}