<!DOCTYPE html>
{% extends "layout_officialCopies.html" %}
{% block pageTitle %} Basket
{% endblock %}
{% block content %}

{% include "includes/officialCopiesNavigation.html" %} 

<script>

 document.addEventListener("DOMContentLoaded", function(event){
  confirmationPage();


    // var InBasket2 = sessionStorage.getItem('CostAndCheckoutButton');
    // document.getElementById('TotalCostandCheckout').innerHTML = InBasket2;


  })
 
  // document.addEventListener("DOMContentLoaded", function(event){
  //   if(sessionStorage.getItem("InBasket") != null){
  //     var InBasket1 = sessionStorage.getItem('InBasket');
  //     document.getElementById('basketNavigation').innerHTML = InBasket1;
  //   }
  // })
   
  
</script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>



<style>

.wide80percent {
    padding: 0 15px 0px 0px;
}

.wide20percent {
    padding: 0;
}

</style>



<div>



<div style="margin: auto;">

    <!-- Filters and Search Section - Start -->



      
  <!-- Table Area - Start -->



    <div class="govuk-width-container wide1100">

    
      <main class="govuk-main-wrapper" style="padding:50px 0px 100px 0px;">
    
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-full">
            <div class="govuk-panel govuk-panel--confirmation">
              <h1 class="govuk-panel__title">
                Order confirmed
              </h1>
              <div class="govuk-panel__body">
                Your reference number<br><strong>HDJ2123F</strong>
              </div>
            </div>
          </div>

          <div class="govuk-grid-column-full" style="padding-bottom: 50px;">

            <p class="govuk-body"  style="padding-top:25px;padding-bottom:25px;">We have sent you a confirmation email.</p>

                          <div class="wide80percent">
                            <h2 class="govuk-heading-l">Available documents</h2>
                          </div>

                          <div class="wide20percent">
                            <button class="govuk-button" data-module="govuk-button" style="width:250px;float:right;" onclick="window.open('/public/documents/demo_download_all.zip')">
                              Download all documents
                            </button>
                          </div>



                          <article class="panel-group bs-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                          
                            <!-- 27a Drakefell Road -->
                            <div>
                              <div class="wide80percent" id="27aBasket" style="display:none;">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">


                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">SGL479276</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">27a Drakefell Road, CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost" id="27aCost">£0.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>
                                        
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                      <div class="panel-body">

                                              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                                  <table class="govuk-table">
                                                    <thead>
                                                      <tr class="govuk-table__row">
                                                            <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                            <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                            <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                            <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                            <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                        </tr>
                                                    </thead>

                                                    <tbody class="govuk-table__body" id="27aTable">

                                                        <tr class="govuk-table__row" id="27aRegisterBasket" style="display:none;">
                                                            <td class="govuk-table__cell">Register</td>
                                                            <td class="govuk-table__cell">Official copy</td>
                                                            <td class="govuk-table__cell">PDF</td>
                                                            <td class="govuk-table__cell">£3.00</td>
                                                            <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                        </tr>
                                                        
                                                        <tr class="govuk-table__row govuk-table__row" id="27aTitlePlanBasket" style="display:none;">
                                                          <td class="govuk-table__cell">Title plan</td>
                                                          <td class="govuk-table__cell">Official copy</td>
                                                          <td class="govuk-table__cell">PDF</td>
                                                          <td class="govuk-table__cell">£3.00</td>
                                                          <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row" id="27aDeedBasket" style="display:none;">
                                                          <td class="govuk-table__cell">Deed</td>
                                                          <td class="govuk-table__cell">B3</td>
                                                          <td class="govuk-table__cell">PDF</td>
                                                          <td class="govuk-table__cell">£3.00</td>
                                                          <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row" id="27aLeaseBasket" style="display:none;">
                                                          <td class="govuk-table__cell last">Lease</td>
                                                          <td class="govuk-table__cell last">L1</td>
                                                          <td class="govuk-table__cell last">PDF</td>
                                                          <td class="govuk-table__cell last">£3.00</td>
                                                          <td class="govuk-table__cell last"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row" id="27aTransferBasket" style="display:none;">
                                                          <td class="govuk-table__cell">Transfer</td>
                                                          <td class="govuk-table__cell">A3,A5,C3,C4</td>
                                                          <td class="govuk-table__cell">PDF</td>
                                                          <td class="govuk-table__cell">£3.00</td>
                                                          <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                        </tr>

                                                        <tr class="govuk-table__row govuk-table__row" id="27aChargeBasket" style="display:none;">
                                                          <td class="govuk-table__cell last">Charge</td>
                                                          <td class="govuk-table__cell last">C1,C2</td>
                                                          <td class="govuk-table__cell last">PDF</td>
                                                          <td class="govuk-table__cell last">£3.00</td>
                                                          <td class="govuk-table__cell last"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                        </tr>
              
                                                    </tbody>
                                                  </table>
                                              </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent" id="reference-27a" style="display:none;">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="referenceFormfieldReadOnly">{{ data['reference-1'] }}
                                    <!-- <input class="govuk-input referenceFormfieldReadOnly" id="reference-1" name="reference-1" type="text" placeholder="Reference"> -->
                                  </div>
                                
                                </fieldset>

                              </div>


                            </div>

                            <!-- 27b Drakefell Road -->
                            <div>
                              <div class="wide80percent" id="27bBasket" style="display:none;">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">SGL479276</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">27b Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost" id="27bCost">hello</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body" id="27bTable">

                                                <tr class="govuk-table__row" id="27bRegisterBasket" style="display:none;">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row" id="27bTitlePlanBasket" style="display:none;">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent" id="reference-27b" style="display:none;">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="referenceFormfieldReadOnly">{{ data['reference-2'] }}
                                    <!-- <input class="govuk-input referenceFormfieldReadOnly" id="reference-1" name="reference-1" type="text" placeholder="Reference"> -->
                                  </div>
                                
                                </fieldset>

                              </div>
                              
                            </div>

                            <!-- 144a Drakefell Road -->
                            <div>
                              <div class="wide80percent" id="144aBasket" style="display:none;">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144a Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost" id="144aCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body" id="144aTable">

                                                <tr class="govuk-table__row" id="144aRegisterBasket" style="display:none;">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row" id="144aTitlePlanBasket" style="display:none;">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent" id="reference-144a" style="display:none;">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="referenceFormfieldReadOnly">{{ data['reference-3'] }}
                                    <!-- <input class="govuk-input referenceFormfieldReadOnly" id="reference-1" name="reference-1" type="text" placeholder="Reference"> -->
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 144b Drakefell Road -->
                            <div>
                              <div class="wide80percent" id="144bBasket" style="display:none;">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144b Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost" id="144bCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body" id="144bTable">

                                                <tr class="govuk-table__row" id="144bRegisterBasket" style="display:none;">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row" id="144bTitlePlanBasket" style="display:none;">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent" id="reference-144b" style="display:none;">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="referenceFormfieldReadOnly">{{ data['reference-4'] }}
                                    <!-- <input class="govuk-input referenceFormfieldReadOnly" id="reference-1" name="reference-1" type="text" placeholder="Reference"> -->
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 144c Drakefell Road -->
                            <div>
                              <div class="wide80percent" id="144cBasket" style="display:none;">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144c Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost" id="144cCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body" id="144cTable">

                                                <tr class="govuk-table__row" id="144cRegisterBasket" style="display:none;">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row" id="144cTitlePlanBasket" style="display:none;">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent" id="reference-144c" style="display:none;">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="referenceFormfieldReadOnly">{{ data['reference-5'] }}
                                    <!-- <input class="govuk-input referenceFormfieldReadOnly" id="reference-1" name="reference-1" type="text" placeholder="Reference"> -->
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

                            <!-- 144d Drakefell Road -->
                            <div>
                              <div class="wide80percent" id="144dBasket" style="display:none;">
                                <section class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingSix">
                                    <h4 class="panel-title">
                                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">

                                        <table class="govuk-table">
                                          <thead>
                                            <tr class="govuk-table__row">
                                                  <th scope="row" class="govuk-table__header accordionTitle">NN890234</th>
                                                  <th scope="row" class="govuk-table__header accordionAddress">144d Drakefell Road,CV5 K2X</th>
                                                  <th scope="row" class="govuk-table__header accordionCost" id="144dCost">£6.00</th> 
                                                  <th scope="row" class="govuk-table__header accordionChevron"><span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"><img style="margin-bottom:-5px;" width="25" src="/public/images/icon_govuk_chevrondown.svg"></span></th> 
                                              </tr>
                                          </thead>
                                        </table>

                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                      <div class="panel-body">

                                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                                          <table class="govuk-table">
                                            <thead>
                                              <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Document type</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Details</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 25%;">Format</th>
                                                    <th scope="row" class="govuk-table__header" style="width: 15%;">Cost</th> 
                                                    <th scope="row" class="govuk-table__header" style="width: 10%;"></th> 
                                                </tr>
                                            </thead>

                                            <tbody class="govuk-table__body" id="144dTable">

                                                <tr class="govuk-table__row" id="144dRegisterBasket" style="display:none;">
                                                    <td class="govuk-table__cell">Register</td>
                                                    <td class="govuk-table__cell">Official copy</td>
                                                    <td class="govuk-table__cell">PDF</td>
                                                    <td class="govuk-table__cell">£3.00</td>
                                                    <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>
                                                
                                                <tr class="govuk-table__row govuk-table__row" id="144dTitlePlanBasket" style="display:none;">
                                                  <td class="govuk-table__cell">Title plan</td>
                                                  <td class="govuk-table__cell">Official copy</td>
                                                  <td class="govuk-table__cell">PDF</td>
                                                  <td class="govuk-table__cell">£3.00</td>
                                                  <td class="govuk-table__cell"><a target="_blank" href="/public/documents/demo_document.pdf" class="accordionDownload">Download</a></td>
                                                </tr>

      
                                            </tbody>
                                          </table>
                                      </fieldset>
              

                                      </div>
                                  </div>
                                </section>
                              </div>
                              <div class="wide20percent" id="reference-144d" style="display:none;">
                                
                                <fieldset class="govuk-fieldset">

                                  <div class="referenceFormfieldReadOnly">{{ data['reference-6'] }}
                                    <!-- <input class="govuk-input referenceFormfieldReadOnly" id="reference-1" name="reference-1" type="text" placeholder="Reference"> -->
                                  </div>
                                
                                </fieldset>

                              </div>
                            </div>

          
          
                          </article>
                          

          </div>

          <div class="govuk-grid-column-full" style="padding-bottom: 0px;">
              <h2 class="govuk-heading-l" style="margin-bottom: 5px;">Pending documents</h2>
              <p class="govuk-body"  style="padding-bottom:25px;">All documents requested are available for immediate download.</p>

              <p class="govuk-body"  style="padding-bottom:25px;"><a href="index.html">Return to Portal homepage</a></p>
          </div>

        </div>

        
    
      </main>
    </div>




</div>


{% include "includes/officialCopiesFooter.html" %} 

{% endblock %}