<div class="navbar-container">

    <img src="/public/images/HMLR_Logo.svg" alt="hmlrlogo" style="height: 44px;float:left;padding-left: 30px;padding-right: 10px;padding-top: 14px;padding-bottom: 5px;">

     <ul id="menu" style="float:left;">
      <li class="parent"><a target="_blank" href="https://www.gov.uk/government/organisations/land-registry">Visit us on GOV.UK</a></li>
    </ul> 


     <ul id="menu" style="float:right;">
        <li class="parent"><a href="index.html">Home</a></li>
  
        <li class="parent parentIconDown"><a style="padding-right: 25px;" href="#">Services</a></li>
         
        <li class="parent"><a href="PortalRefreshFeedback@landregistry.gov.uk">Contact us</a></li>
  
        <li class="parent parentIconDown2"><a style="padding-right: 25px;" href="#">John James </a>
             <ul class="child" style="right:0;">
             <div class="govuk-body myAccountContent" style="margin-bottom:0px;">
  
                   <div>
                     <div class="myAccountTitle" style="padding-bottom:3px;">
                       Logged in as:
                     </div>
                     <div class="myAccount2ndLine" style="padding-bottom:15px;">
                        Administrator 
                     </div>
                     <div class="myAccountTitle" style="padding-bottom:3px;">
                      User ID:
                    </div>
                    <div class="myAccount2ndLine" style="padding-bottom:15px;">
                       xxxxxxxxxxxxxx 
                    </div>
                     <a href="#" style="margin:0px;color:#00703C;font-weight:700;font-size:14px;">View profile</a>
                   </div>
  
                   <hr>
  
                   <div class="myAccountTitle" style="padding-bottom:3px;">
                     <b>Primary Business Unit Administrator (BUA):</b> 
                   </div>
                   <div class="myAccount2ndLine">
                     John Taylor
                     <!-- <a href="#" style="margin:0px;color:#00703C;"><b>JohnTaylor@bigbusiness.com</b></a> -->
                   </div>
   
                   <button id="logOut" class="govuk-button" style="margin-top:20px;">Log out</button>
                 </div>
                 </ul>
        </li>
              
        <li class="parent"><a href="/projects/notifications/userResearch/round2/start.html">Log out</a></li>
      </ul>      
  </div>
