<div class="govuk-grid-column-full" style="padding:0px;border-top:5px solid #00703C;">
    <div style="padding:30px; background: #f3f2f1;">
  
      <p style="color: #6d6d6d; text-decoration: none;font-size: 16px;margin-bottom:15px;">The following links open in a new tab.</p>
  
      <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Terms and conditions</u></a>
      |
      <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Accessibility statement</u></a>
      |
      <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Freedom of information</u></a>
      |
      <a class="footlink" style="text-color: grey; text-decoration: none;"><u>© Crown copyright</u></a>
  
    </div>
</div>