<script src="/public/javascripts/Official-copies-documents.js" defer></script>

<div class="navbar-container">

    <img src="/public/images/HMLR_Logo.svg" alt="hmlrlogo" style="height: 44px;
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 5px;">
     
     <ul id="menu" style="float:right;">
        <li class="parent"><a href="index.html">Home</a></li>
  
        <li class="parent parentIconDown"><a style="padding-right: 25px;" href="#">Services</a>
         
        <li class="parent"><a href="#">Contact us</a></li>
  
        <li class="parent parentIconDown2"><a style="padding-right: 25px;" href="#">John James </a>
             <ul class="child" style="right:0;">
             <div class="govuk-body myAccountContent" style="margin-bottom:0px;">
  
                   <div>
                     <div class="myAccountTitle" style="padding-bottom:3px;">
                       Logged in as:
                     </div>
                     <div class="myAccount2ndLine">
                        Administrator 
                     </div>
                     <a href="#" style="margin:0px;color:#00703C;font-weight:700;font-size:14px;">View profile</a>
                   </div>
  
                   <hr>
  
                   <div class="myAccountTitle" style="padding-bottom:3px;">
                     <b>Primary Business Unit Administrator (BUA):</b> 
                   </div>
                   <div class="myAccount2ndLine">
                     John Taylor
                     <!-- <a href="#" style="margin:0px;color:#00703C;"><b>JohnTaylor@bigbusiness.com</b></a> -->
                   </div>
  
  
  
  
                   <button id="logOut" class="govuk-button" style="margin-top:20px;">Log out</button>
                 </div>
                 </ul>
        </li>
                
                 
          <li class="parent parentIconDown3"><a style="padding-left:25px;margin-right: 0px;" href="#">Basket</a>
            <span class="basketCounter" id="basketCounter">0</span>
            <ul class="child" style="right:0;">
              <div class="govuk-body basketContent">
  
                <div class="basketItems">
  
                <!-- First item in dropdown basket - 27a Drakefell Road, Coventry, CV5 K2X -->
                    <div class="basketItem">
                        <div class="basketSection">
                            <div class="basketTitle">
                              SGL479276
                            </div>
                            <div class="basketRemove">
                              <a class="basketRemoveText" style="margin:0;text-decoration: underline;" href="#">Remove</a>
                            </div>
                        </div>
  
                        <div class="basketSection" style="padding:15px 0px;">
                              <div><span class="basketItemSelected">Register</span><span class="basketItemPrice">£3.00</span></div>
                              <div><span class="basketItemSelected">Title plan</span><span class="basketItemPrice">£3.00</span></div>
                              <div><span class="basketItemSelected">Deed</span><span class="basketItemPrice">£3.00</span></div>
                              <div><span class="basketItemSelected">Lease</span><span class="basketItemPrice">£3.00</span></div>
                              <div><span class="basketItemSelected">Transfer</span><span class="basketItemPrice">£3.00</span></div>
                              <div><span class="basketItemSelected">Change</span><span class="basketItemPrice">£3.00</span></div>
                        </div>
  
                        <div class="basketSection">
                          <span class="basketAddress">27a Drakefell Road, CV5 BKK</span>
                        </div>
  
                    </div>
  
                    <!-- Second item in dropdown basket - 27b Drakefell Road, Coventry, CV5 K2X -->
                    <div class="basketItem">
                      <div class="basketSection">
                          <div class="basketTitle">
                            SGL479276
                          </div>
                          <div class="basketRemove">
                            <a class="basketRemoveText" style="margin:0;text-decoration: underline;" href="#">Remove</a>
                          </div>
                      </div>
  
                      <div class="basketSection" style="padding:15px 0px;">
                            <div><span class="basketItemSelected">Register</span><span class="basketItemPrice"><a class="basketRemoveText" style="margin:0;text-decoration: underline;" href="#">Remove</a></span><span class="basketItemPrice">£3.00</span></div>
                            <div><span class="basketItemSelected">Title plan</span><span class="basketItemPrice"><a class="basketRemoveText" style="margin:0;text-decoration: underline;" href="#">Remove</a></span><span class="basketItemPrice">£3.00</span></div>
                      </div>
  
                      <div class="basketSection">
                        <span class="basketAddress">27b Drakefell Road, CV5 BKK</span>
                      </div>
  
                    </div>

                    <!-- Second item in dropdown basket - 27b Drakefell Road, Coventry, CV5 K2X -->
                    <div class="basketItem">
                      <div class="basketSection">
                          <div class="basketTitle">
                            SGL479276
                          </div>
                          <div class="basketRemove">
                            <a class="basketRemoveText" style="margin:0;text-decoration: underline;" href="#">Remove</a>
                          </div>
                      </div>
  
                      <div class="basketSection" style="padding:15px 0px;">
                            <div><span class="basketItemSelected">Register</span><span class="basketItemPrice">£3.00</span></div>
                            <div><span class="basketItemSelected">Title plan</span><span class="basketItemPrice">£3.00</span></div>
                      </div>
  
                      <div class="basketSection">
                        <span class="basketAddress">27b Drakefell Road, CV5 BKK</span>
                      </div>
  
                    </div>
  
                    <!-- Third item in dropdown basket -->
                    <div class="basketItem" style="margin-bottom:0px;">
                      <div class="basketSection">
                          <div class="basketTitle">
                            SGL479276
                          </div>
                          <div class="basketRemove">
                            <a class="basketRemoveText" style="margin:0;text-decoration: underline;" href="#">Remove</a>
                          </div>
                      </div>
  
                      <div class="basketSection" style="padding:15px 0px;">
                            <div><span class="basketItemSelected">Register</span><span class="basketItemPrice">£3.00</span></div>
                            <div><span class="basketItemSelected">Title plan</span><span class="basketItemPrice">£3.00</span></div>
                      </div>
  
                      <div class="basketSection">
                        <span class="basketAddress">27b Drakefell Road, CV5 BKK</span>
                      </div>
  
                    </div>
  
                </div>
  
                <!-- Subtotal and basket button -->
                <div class="basketItemLast" style="padding:0px 25px 25px 25px;">
                  <div class="basketSection" style="padding-bottom: 25px;padding-top: 25px;">
                    <div><span class="basketItemSubText">Subtotal:</span><span class="basketItemSubTotal">£12.00</span></div>
                  </div>
  
                  <div class="basketSection">
                    <button class="govuk-button" data-module="govuk-button" style="width:100%;" onclick="window.location.href='basket.html'">
                      View basket
                    </button>
                  </div>
  
                </div>
  
              </div>
            </ul>
          </li>
  
  
  </div>