<!-- This allows the user to select the ALL CHECKBOX in tables -->

<script>

    $('#allcb').change(function(){
        if($(this).prop('checked')){
            $('tbody tr td input[type="checkbox"]').each(function(){
                $(this).prop('checked', true);
            });
        }else{
            $('tbody tr td input[type="checkbox"]').each(function(){
                $(this).prop('checked', false);
            });
        }
    });
</script>

<script>

    $('#allcbTwo').change(function(){
        if($(this).prop('checked')){
            $('tbody tr td input[type="checkbox"]').each(function(){
                $(this).prop('checked', true);
            });
        }else{
            $('tbody tr td input[type="checkbox"]').each(function(){
                $(this).prop('checked', false);
            });
        }
    });
</script>

<script>
function showAdded() {
  var checkBox = document.getElementById("cb1");
  var text = document.getElementById("added1");
  if (checkBox.checked == true){
    text.style.display = "table-row";
  } else {
     text.style.display = "none";
  }
}
  </script>

<script>
    function showAdded2() {
      var checkBox = document.getElementById("cb2");
      var text = document.getElementById("added2");
      if (checkBox.checked == true){
        text.style.display = "table-row";
      } else {
         text.style.display = "none";
      }
    }
      </script>

<script>
    function showAddedAll() {
      var checkBox = document.getElementById("allcb");
      var text = document.querySelectorAll("#added1, #added2");
      if (checkBox.checked == true){
        text.style.display = "table-row";
      } else {
         text.style.display = "none";
      }
    }
</script>
