<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/table-filtering.js"></script>
<script src="/public/javascripts/table-filtering4.js"></script>
<script src="/public/javascripts/expandy-rows.js"></script>
<script src="/public/javascripts/expandy-rows2.js"></script>
<script src="/public/javascripts/expandy-rows3.js"></script>
<script src="/public/javascripts/expandy-rows4.js"></script>
<script src="/public/javascripts/sortable-table.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
