<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/table-filtering.js"></script>
<script src="/public/javascripts/expandy-rows.js"></script>
<script src="/public/javascripts/sortable-table.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
<script src="/public/javascripts/AddTeam-members-project.js" defer></script>
<script src="/public/javascripts/Official-copies-documents.js" defer></script>
<script src="/public/javascripts/expandablePictures.js"></script>


{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script>
  $(document).ready(function() {
  $('#cat').select2({
    placeholder: "Select a colleague"
    });
  });
  </script>

<script>
  (function($) {

var Defaults = $.fn.select2.amd.require('select2/defaults');

$.extend(Defaults.defaults, {
    searchInputPlaceholder: 'Search...'
});

var SearchDropdown = $.fn.select2.amd.require('select2/dropdown/search');

var _renderSearchDropdown = SearchDropdown.prototype.render;

SearchDropdown.prototype.render = function(decorated) {

    // invoke parent method
    var $rendered = _renderSearchDropdown.apply(this, Array.prototype.slice.apply(arguments));

    this.$search.attr('placeholder', this.options.get('searchInputPlaceholder'));

    return $rendered;
};

})(window.jQuery);
</script>

<script type="text/javascript">
  $(document).ready(function(){
      $('#attachmentSelection').on('change', function() {
        if ( this.value == '1')
        {
          $("#business").show();
        }
        else
        {
          $("#business").hide();
        }
      });
  });
      </script>

<script>
  const box = document.getElementById('filtersBox');
  
  const btn = document.getElementById('showFilters');
  
  showFilters.addEventListener('click', function handleClick() {
    if (filtersBox.style.display === 'none') {
      filtersBox.style.display = 'block';
  
      showFilters.textContent = 'Hide filters';
    } else {
      filtersBox.style.display = 'none';
  
      showFilters.textContent = 'Show filters';
    }
  });
  </script>