<!DOCTYPE html>
{% extends "layouts/layout_homepage.html" %}
{% block pageTitle %} Managed services
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation.html" %} 


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
.govuk-width-container-fixed {
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}



.govuk-caption-m {
    font-size: 1.1875rem;
    line-height: 1.31579;
    font-weight: bold;
}

.govuk-heading-s {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.govuk-heading-l {
    margin-bottom: 15px;
    margin-top: 50px;
}

li:hover {
    background-color: #ffffff;
    color: #0b0c0c;
}


</style>




<div class="govuk-width-container-fixed">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full" style="max-width: 960px;">
        <h1 class="govuk-heading-xl">Application management services</h1>
       
        <h2 class="govuk-heading-l">Complex commercial or infrastructure development</h2> 
        <p>We can help before you submit an application, and throughout the registration process with a managed support. There's no fee and it could help save you time, navigate registry processes and avoid potential delays</p>

        <p><a href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.gov.uk%2Fguidance%2Fsubmit-complex-commercial-or-infrastructure-development-enquiries-and-transactions-to-hm-land-registry&data=05%7C01%7CLauren.Thomas%40landregistry.gov.uk%7Cae3e6a3359594acb6adf08da7630aca4%7C236309a8284b4e57a7b3fc767736f69d%7C0%7C0%7C637952248664716429%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=q89iQotIumbQ%2FuKHJRiQpSlGz7fJQ%2FTA4Ee9nGkKFq0%3D&reserved=0">See services available and how you could benefit</a></p>
        
        <h2 class="govuk-heading-l">Managed support from end-to-end (Application Management Service)</h2> 


        <p>Get direct access to registration experts, who'll provide a managed support service through the whole transaction lifecycle.</p>
            <p class="govuk-body">Ask us to manage your application:</p>
            <ul class="govuk-list govuk-list--bullet">  
            <li>Ready now? <a href="https://customerhelp.landregistry.gov.uk/managedservices_ams1start/">Fill in a quick online form to tell us about your application.</a></li>
            <li>Want to work with someone in your firm to clarify things first? <a href="https://www.gov.uk/government/publications/application-for-application-management-service-ams1">Download a form</a> fill it in and <a href="https://customerhelp.landregistry.gov.uk/managedserviceswebform"> upload it</a> when you're ready</li>
            </ul>
        
        
        
        <h2 class="govuk-heading-l">Pre-submission enquiry guidance</h2> 

        <h3 class="govuk-heading-m" style="margin-bottom:20px;">Just have a query?</h3>

        <p>Get direct access to our specialist technicians for guidance on technical or procedural queries.</p>
            <p class="govuk-body">Ask for support:</p>
            <ul class="govuk-list govuk-list--bullet"> 
            <li>Ready now? <a href="https://customerhelp.landregistry.gov.uk/managedservices_ams1start/">Fill in a quick online form to tell us about your issue.</a></li>
            <li>Want to work with someone in your firm to clarify things first? <a href="https://www.gov.uk/government/publications/application-for-application-management-service-ams1">Download a form</a> fill it in and <a href="https://customerhelp.landregistry.gov.uk/managedserviceswebform"> upload it</a> when you’re ready</p></li>
            </ul>
       </div>
    </div>

  </main>
</div>







{% include "includes/officialCopiesFooter.html" %} 



{% endblock %}