<!DOCTYPE html>
{% extends "layouts/layout_homepage.html" %}
{% block pageTitle %} Home
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation.html" %} 


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
.govuk-width-container-fixed {
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}



.govuk-caption-m {
    font-size: 1.1875rem;
    line-height: 1.31579;
    font-weight: bold;
}

.govuk-heading-s {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.govuk-heading-l {
    margin-bottom: 15px;
    margin-top: 50px;
}

li:hover {
    background-color: #ffffff;
    color: #0b0c0c;
}


</style>




<div class="govuk-width-container-fixed">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Managed services</h1>
       
        <h2 class="govuk-heading-l">Complex commercial or infrastructure development</h2> 
        <p>We can help before you submit an application, and throughout the registration process with a managed support. There's no fee and it could help save you time, navigate registry processes and avoid potential delays</p>
        
        <h2 class="govuk-heading-l">Managed support from end-to-end (Application Management Service)</h2> 
        <p>Get direct access to registration experts, who'll provide a managed support service through the whole transaction lifecycle.</p>
            <p class="govuk-body">Ask us to manage your application:</p>
            <ul class="govuk-list govuk-list--bullet">  
            <li>Ready now? <a href="https://customerhelp.landregistry.gov.uk/managedservices_ams1start/">Fill in a quick online form to tell us about your application.</a></li>
            <li>Want to work with someone in your firm to clarify things first? <a href="https://www.gov.uk/government/publications/application-for-application-management-service-ams1">Download a form</a> fill it in and <a href="https://customerhelp.landregistry.gov.uk/managedserviceswebform"> upload it</a> when you're ready</li>
            </ul>
        
        
        
        <h2 class="govuk-heading-l">Pre-submission enquiry guidance</h2> 
        <p>Get direct access to our specialist technicians for guidance on technical or procedural queries.</p>
            <p class="govuk-body">Ask for support:</p>
            <ul class="govuk-list govuk-list--bullet"> 
            <li>Ready now? <a href="https://customerhelp.landregistry.gov.uk/managedservices_ams1start/">Fill in a quick online form to tell us about your issue.</a></li>
            <li>Want to work with someone in your firm to clarify things first? <a href="https://www.gov.uk/government/publications/application-for-application-management-service-ams1">Download a form</a> fill it in and <a href="https://customerhelp.landregistry.gov.uk/managedserviceswebform"> upload it</a> when you’re ready</p></li>
            </ul>
       </div>
    </div>

  </main>
</div>







{% include "includes/officialCopiesFooter.html" %} 



{% endblock %}