<!DOCTYPE html>
{% extends "layout_officialCopies.html" %}
{% block pageTitle %} Home
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation.html" %} 


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
.govuk-width-container-fixed {
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}
</style>




<div class="govuk-width-container-fixed">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Customise your new home page </h1>
        <p class="govuk-body">HM Land Registry has created a new portal home page to work for you.</p>

        <p class="govuk-body">
          This process takes approximately 4 minutes.</p>

          <img src="/public/images/HMLR_Homepage_Screenshot3.jpg" width="450" alt="Homepage Preview" style="margin-top:20px; margin-bottom:40px;border: 1px solid #d8dde0;">

          <div>

              <button class="govuk-button" style="padding-left: 25px;padding-right: 25px;" data-module="govuk-button" onclick="window.location.href='wizard_V1B.html'">
                Start
              </button>
<span class="govuk-body" style="line-height: 40px;padding-left: 20px;">or</span>
              <a class="govuk-body govuk-link" href="wizard_V1E.html" style="line-height: 40px;padding-left: 20px;">Use default customisation</a>

            </div>
      </div>
    </div>

  </main>
</div>







{% include "includes/officialCopiesFooter.html" %} 



{% endblock %}