<!DOCTYPE html>
{% extends "layout_officialCopies.html" %}
{% block pageTitle %} Step 2 - Choose your services
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation.html" %} 


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
.govuk-width-container-fixed {
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}

.govuk-form-group-links {
    width: 28%;
    float: left;
    margin-right: 5%;
    margin-bottom: 4%;
    padding: 0%;
}
</style>




<div class="govuk-width-container-fixed">
  <a href="javascript: history.go(-1)" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <span class="govuk-caption-xl">
              Step 2
            </span>
        <h1 class="govuk-heading-xl">Choose your services</h1>
        
        <p class="govuk-body">
          Add 6 customisable links for Portal services to your homepage. The links will appear <br>in the position that you have selected them.</p>

          <div class="govuk-inset-text">
            The links you select can be updated at any time by clicking the "Edit Links"<br>button on the homepage.
          </div>


        <form method="post" class="form">

<div>

  <div class="govuk-form-group-links">
    <label class="govuk-label form-label-bold" for="input0">
      Position 1
    </label>
      <select class="govuk-select selects" name="input0" id="input0">
        <option value="administratorReport">Administrator Report</option>
        <option value="agreedNotice">Agreed Notice</option>
        <option value="alternateDespatchAddress">Alternate despatch address</option>
        <option value="applicationEnquiry">Application Enquiry</option>
        <option value="bankruptcySearch">Bankruptcy Search</option>
        <option value="cancellationOfACaution">Cancellation of a Caution</option>
        <option value="cancellationOfANotice">Cancellation of a Notice (Not Unilateral)</option>
        <option value="cancellationOfHomeRights">Cancellation of Home rights (e-HR4)</option>
        <option value="cancellationOfOfficialSearchOfWholeOS1">Cancellation of Official Search of Whole (OS1)</option>
        <option value="cancellationOfOfficialSearchOfPartOS2">Cancellation of Official Search of Part (OS2)</option>
        <option value="cancellationOfRestriction">Cancellation of restriction (e-RX3)</option>
        <option value="cancellationOfUnilateralNotice">Cancellation of Unilateral Notice (eUN4)</option>
        <option value="changeOfAddressForService">Change of address for service</option>
        <option value="changeOfName">Change of Name</option>
        <option value="changeOfPropertyDescription">Change of Property Description</option>
        <option value="changePassword">Change Password</option>
        <option value="createUser">Create User</option>
        <option value="dataSynchronisationDownloads">Data Synchronisation Downloads</option>
        <option value="dataSynchronisationEnquiry">Data Synchronisation Enquiry</option>
        <option value="deathOfJointProprietor">Death of Joint Proprietor</option>
        <option value="digitalRegistrationService" selected>Digital Registration Service</option>
        <option value="dischargeOfCharge">Discharge of a Charge</option>
        <option value="documentRegistrationService">Document Registration Service</option>
        <option value="documentView">Document View</option>
        <option value="enquiryByPropertyDescription">Enquiry by Property Description - Title View</option>
        <option value="fullSearch">Full Search</option>
        <option value="homeRights">Home Rights (E-HR1 Notice of home rights)</option>
        <option value="homeRightsSearch">Home Rights Search</option>
        <option value="localLandCharges">Local Land Charges</option>
        <option value="manageBusinessUnits">Manage Business Units</option>
        <option value="manageGroups">Manage Groups</option>
        <option value="manageUsers">Manage users</option>
        <option value="mapSearch">Map Search</option>
        <option value="messageArea">Message Area</option>
        <option value="Notifications">Notifications</option>
        <option value="officialCopyDeedsReferred">Official Copy – Deeds referred</option>
        <option value="officialCopyRegisterPlanCI">Official Copy – Register, Title Plan or CI</option>
        <option value="officialCopyRegisterHistorical">Official Copy – Register (Historical)</option>
        <option value="officialCopyTitlePlanHistorical">Official Copy – Title Plan (Historical)</option>
        <option value="officialSearchOfWholeOS1">Official Search of Whole (OS1)</option>
        <option value="officialSearchOfPartOS2">Official Search of Part (OS2)</option>
        <option value="officialSearchOfWholeOrPartWithoutPriorityOS3">Official Search of whole or part without priority (OS3)</option>
        <option value="pdfDownloads">PDF Downloads</option>
        <option value="personalDetails">Personal Details</option>
        <option value="registerViewHTML">Register View (HTML)</option>
        <option value="registerViewPDF">Register View (PDF)</option>
        <option value="registrationView">Registration View</option>
        <option value="removalOfUnilateralNotice">Removal of a Unilateral Notice (e-UN2)</option>
        <option value="replyToRequisition">Reply To Requisition</option>
        <option value="restrictions">Restrictions (Standard e-RX1)</option>
        <option value="searchOfTheIndexFranchisesAndManors">Search of the Index of Franchies and Manors (SIF)</option>
        <option value="searchOfTheIndexMap">Search of the Index Map</option>
        <option value="servicesRequested">Services Requested</option>
        <option value="statutoryCharge">Statutory Charge</option>
        <option value="titlePlanView">Title Plan View</option>
        <option value="unilateralNotice">Unilateral Notice (e-UN1)</option>
        <option value="vddinformation">VDD Information</option>
        <option value="viewMyApplications">View Applications</option>
        <option value="withdrawlOfARestriction">Withdrawal of a Restriction (e-RX4)</option>
        <option value="withdrawlOfCaution">Withdrawl of Caution</option>
        <option value="withdrawlOfficialSearchWithPriority">Withdraw Official Search with Priority</option>
    </select>
 </div>

       <div class="govuk-form-group-links">
        <label class="govuk-label form-label-bold" for="input1">
          Position 2
        </label>
        <select class="govuk-select selects" name="input1" id="input1">
              <option value="administratorReport">Administrator Report</option>
              <option value="agreedNotice">Agreed Notice</option>
              <option value="alternateDespatchAddress">Alternate despatch address</option>
              <option value="applicationEnquiry">Application Enquiry</option>
              <option value="bankruptcySearch">Bankruptcy Search</option>
              <option value="cancellationOfACaution">Cancellation of a Caution</option>
              <option value="cancellationOfANotice">Cancellation of a Notice (Not Unilateral)</option>
              <option value="cancellationOfHomeRights">Cancellation of Home rights (e-HR4)</option>
              <option value="cancellationOfOfficialSearchOfWholeOS1">Cancellation of Official Search of Whole (OS1)</option>
              <option value="cancellationOfOfficialSearchOfPartOS2">Cancellation of Official Search of Part (OS2)</option>
              <option value="cancellationOfRestriction">Cancellation of restriction (e-RX3)</option>
              <option value="cancellationOfUnilateralNotice">Cancellation of Unilateral Notice (eUN4)</option>
              <option value="changeOfAddressForService">Change of address for service</option>
              <option value="changeOfName">Change of Name</option>
              <option value="changeOfPropertyDescription">Change of Property Description</option>
              <option value="changePassword">Change Password</option>
              <option value="createUser">Create User</option>
              <option value="dataSynchronisationDownloads">Data Synchronisation Downloads</option>
              <option value="dataSynchronisationEnquiry">Data Synchronisation Enquiry</option>
              <option value="deathOfJointProprietor">Death of Joint Proprietor</option>
              <option value="digitalRegistrationService">Digital Registration Service</option>
              <option value="dischargeOfCharge">Discharge of a Charge</option>
              <option value="documentRegistrationService">Document Registration Service</option>
              <option value="documentView">Document View</option>
              <option value="enquiryByPropertyDescription">Enquiry by Property Description - Title View</option>
              <option value="fullSearch">Full Search</option>
              <option value="homeRights">Home Rights (E-HR1 Notice of home rights)</option>
              <option value="homeRightsSearch">Home Rights Search</option>
              <option value="localLandCharges">Local Land Charges</option>
              <option value="manageBusinessUnits">Manage Business Units</option>
              <option value="manageGroups">Manage Groups</option>
              <option value="manageUsers">Manage users</option>
              <option value="mapSearch">Map Search</option>
              <option value="messageArea">Message Area</option>
              <option value="Notifications">Notifications</option>
              <option value="officialCopyDeedsReferred">Official Copy – Deeds referred</option>
              <option value="officialCopyRegisterPlanCI">Official Copy – Register, Title Plan or CI</option>
              <option value="officialCopyRegisterHistorical">Official Copy – Register (Historical)</option>
              <option value="officialCopyTitlePlanHistorical">Official Copy – Title Plan (Historical)</option>
              <option value="officialSearchOfWholeOS1">Official Search of Whole (OS1)</option>
              <option value="officialSearchOfPartOS2">Official Search of Part (OS2)</option>
              <option value="officialSearchOfWholeOrPartWithoutPriorityOS3">Official Search of whole or part without priority (OS3)</option>
              <option value="pdfDownloads">PDF Downloads</option>
              <option value="personalDetails">Personal Details</option>
              <option value="registerViewHTML">Register View (HTML)</option>
              <option value="registerViewPDF">Register View (PDF)</option>
              <option value="registrationView">Registration View</option>
              <option value="removalOfUnilateralNotice">Removal of a Unilateral Notice (e-UN2)</option>
              <option value="replyToRequisition">Reply To Requisition</option>
              <option value="restrictions">Restrictions (Standard e-RX1)</option>
              <option value="searchOfTheIndexFranchisesAndManors">Search of the Index of Franchies and Manors (SIF)</option>
              <option value="searchOfTheIndexMap">Search of the Index Map</option>
              <option value="servicesRequested">Services Requested</option>
              <option value="statutoryCharge">Statutory Charge</option>
              <option value="titlePlanView">Title Plan View</option>
              <option value="unilateralNotice">Unilateral Notice (e-UN1)</option>
              <option value="vddinformation">VDD Information</option>
              <option value="viewMyApplications" selected>View Applications</option>
              <option value="withdrawlOfARestriction">Withdrawal of a Restriction (e-RX4)</option>
              <option value="withdrawlOfCaution">Withdrawl of Caution</option>
              <option value="withdrawlOfficialSearchWithPriority">Withdraw Official Search with Priority</option>
        </select>
     </div>

     <div class="govuk-form-group-links">
      <label class="govuk-label form-label-bold" for="input2">
        Position 3
      </label>
      <select class="govuk-select selects" name="input2" id="input2">
              <option value="administratorReport">Administrator Report</option>
              <option value="agreedNotice">Agreed Notice</option>
              <option value="alternateDespatchAddress">Alternate despatch address</option>
              <option value="applicationEnquiry">Application Enquiry</option>
              <option value="bankruptcySearch">Bankruptcy Search</option>
              <option value="cancellationOfACaution">Cancellation of a Caution</option>
              <option value="cancellationOfANotice">Cancellation of a Notice (Not Unilateral)</option>
              <option value="cancellationOfHomeRights">Cancellation of Home rights (e-HR4)</option>
              <option value="cancellationOfOfficialSearchOfWholeOS1">Cancellation of Official Search of Whole (OS1)</option>
              <option value="cancellationOfOfficialSearchOfPartOS2">Cancellation of Official Search of Part (OS2)</option>
              <option value="cancellationOfRestriction">Cancellation of restriction (e-RX3)</option>
              <option value="cancellationOfUnilateralNotice">Cancellation of Unilateral Notice (eUN4)</option>
              <option value="changeOfAddressForService">Change of address for service</option>
              <option value="changeOfName">Change of Name</option>
              <option value="changeOfPropertyDescription">Change of Property Description</option>
              <option value="changePassword">Change Password</option>
              <option value="createUser">Create User</option>
              <option value="dataSynchronisationDownloads">Data Synchronisation Downloads</option>
              <option value="dataSynchronisationEnquiry">Data Synchronisation Enquiry</option>
              <option value="deathOfJointProprietor">Death of Joint Proprietor</option>
              <option value="digitalRegistrationService">Digital Registration Service</option>
              <option value="dischargeOfCharge">Discharge of a Charge</option>
              <option value="documentRegistrationService">Document Registration Service</option>
              <option value="documentView">Document View</option>
              <option value="enquiryByPropertyDescription">Enquiry by Property Description - Title View</option>
              <option value="fullSearch">Full Search</option>
              <option value="homeRights">Home Rights (E-HR1 Notice of home rights)</option>
              <option value="homeRightsSearch">Home Rights Search</option>
              <option value="localLandCharges">Local Land Charges</option>
              <option value="manageBusinessUnits">Manage Business Units</option>
              <option value="manageGroups">Manage Groups</option>
              <option value="manageUsers">Manage users</option>
              <option value="mapSearch">Map Search</option>
              <option value="messageArea">Message Area</option>
              <option value="Notifications">Notifications</option>
              <option value="officialCopyDeedsReferred">Official Copy – Deeds referred</option>
              <option value="officialCopyRegisterPlanCI">Official Copy – Register, Title Plan or CI</option>
              <option value="officialCopyRegisterHistorical">Official Copy – Register (Historical)</option>
              <option value="officialCopyTitlePlanHistorical">Official Copy – Title Plan (Historical)</option>
              <option value="officialSearchOfWholeOS1">Official Search of Whole (OS1)</option>
              <option value="officialSearchOfPartOS2">Official Search of Part (OS2)</option>
              <option value="officialSearchOfWholeOrPartWithoutPriorityOS3">Official Search of whole or part without priority (OS3)</option>
              <option value="pdfDownloads" selected>PDF Downloads</option>
              <option value="personalDetails">Personal Details</option>
              <option value="registerViewHTML">Register View (HTML)</option>
              <option value="registerViewPDF">Register View (PDF)</option>
              <option value="registrationView">Registration View</option>
              <option value="removalOfUnilateralNotice">Removal of a Unilateral Notice (e-UN2)</option>
              <option value="replyToRequisition">Reply To Requisition</option>
              <option value="restrictions">Restrictions (Standard e-RX1)</option>
              <option value="searchOfTheIndexFranchisesAndManors">Search of the Index of Franchies and Manors (SIF)</option>
              <option value="searchOfTheIndexMap">Search of the Index Map</option>
              <option value="servicesRequested">Services Requested</option>
              <option value="statutoryCharge">Statutory Charge</option>
              <option value="titlePlanView">Title Plan View</option>
              <option value="unilateralNotice">Unilateral Notice (e-UN1)</option>
              <option value="vddinformation">VDD Information</option>
              <option value="viewMyApplications">View Applications</option>
              <option value="withdrawlOfARestriction">Withdrawal of a Restriction (e-RX4)</option>
              <option value="withdrawlOfCaution">Withdrawl of Caution</option>
              <option value="withdrawlOfficialSearchWithPriority">Withdraw Official Search with Priority</option>
      </select>
   </div>

   <div class="govuk-form-group-links">
    <label class="govuk-label form-label-bold" for="input3">
      Position 4
    </label>
    <select class="govuk-select selects" name="input3" id="input3">
              <option value="administratorReport">Administrator Report</option>
              <option value="agreedNotice">Agreed Notice</option>
              <option value="alternateDespatchAddress">Alternate despatch address</option>
              <option value="applicationEnquiry">Application Enquiry</option>
              <option value="bankruptcySearch">Bankruptcy Search</option>
              <option value="cancellationOfACaution">Cancellation of a Caution</option>
              <option value="cancellationOfANotice">Cancellation of a Notice (Not Unilateral)</option>
              <option value="cancellationOfHomeRights">Cancellation of Home rights (e-HR4)</option>
              <option value="cancellationOfOfficialSearchOfWholeOS1">Cancellation of Official Search of Whole (OS1)</option>
              <option value="cancellationOfOfficialSearchOfPartOS2">Cancellation of Official Search of Part (OS2)</option>
              <option value="cancellationOfRestriction">Cancellation of restriction (e-RX3)</option>
              <option value="cancellationOfUnilateralNotice">Cancellation of Unilateral Notice (eUN4)</option>
              <option value="changeOfAddressForService">Change of address for service</option>
              <option value="changeOfName">Change of Name</option>
              <option value="changeOfPropertyDescription">Change of Property Description</option>
              <option value="changePassword">Change Password</option>
              <option value="createUser">Create User</option>
              <option value="dataSynchronisationDownloads">Data Synchronisation Downloads</option>
              <option value="dataSynchronisationEnquiry">Data Synchronisation Enquiry</option>
              <option value="deathOfJointProprietor">Death of Joint Proprietor</option>
              <option value="digitalRegistrationService">Digital Registration Service</option>
              <option value="dischargeOfCharge">Discharge of a Charge</option>
              <option value="documentRegistrationService">Document Registration Service</option>
              <option value="documentView">Document View</option>
              <option value="enquiryByPropertyDescription">Enquiry by Property Description - Title View</option>
              <option value="fullSearch">Full Search</option>
              <option value="homeRights">Home Rights (E-HR1 Notice of home rights)</option>
              <option value="homeRightsSearch">Home Rights Search</option>
              <option value="localLandCharges">Local Land Charges</option>
              <option value="manageBusinessUnits">Manage Business Units</option>
              <option value="manageGroups">Manage Groups</option>
              <option value="manageUsers">Manage users</option>
              <option value="mapSearch" selected>Map Search</option>
              <option value="messageArea">Message Area</option>
              <option value="Notifications">Notifications</option>
              <option value="officialCopyDeedsReferred">Official Copy – Deeds referred</option>
              <option value="officialCopyRegisterPlanCI">Official Copy – Register, Title Plan or CI</option>
              <option value="officialCopyRegisterHistorical">Official Copy – Register (Historical)</option>
              <option value="officialCopyTitlePlanHistorical">Official Copy – Title Plan (Historical)</option>
              <option value="officialSearchOfWholeOS1">Official Search of Whole (OS1)</option>
              <option value="officialSearchOfPartOS2">Official Search of Part (OS2)</option>
              <option value="officialSearchOfWholeOrPartWithoutPriorityOS3">Official Search of whole or part without priority (OS3)</option>
              <option value="pdfDownloads">PDF Downloads</option>
              <option value="personalDetails">Personal Details</option>
              <option value="registerViewHTML">Register View (HTML)</option>
              <option value="registerViewPDF">Register View (PDF)</option>
              <option value="registrationView">Registration View</option>
              <option value="removalOfUnilateralNotice">Removal of a Unilateral Notice (e-UN2)</option>
              <option value="replyToRequisition">Reply To Requisition</option>
              <option value="restrictions">Restrictions (Standard e-RX1)</option>
              <option value="searchOfTheIndexFranchisesAndManors">Search of the Index of Franchies and Manors (SIF)</option>
              <option value="searchOfTheIndexMap">Search of the Index Map</option>
              <option value="servicesRequested">Services Requested</option>
              <option value="statutoryCharge">Statutory Charge</option>
              <option value="titlePlanView">Title Plan View</option>
              <option value="unilateralNotice">Unilateral Notice (e-UN1)</option>
              <option value="vddinformation">VDD Information</option>
              <option value="viewMyApplications">View Applications</option>
              <option value="withdrawlOfARestriction">Withdrawal of a Restriction (e-RX4)</option>
              <option value="withdrawlOfCaution">Withdrawl of Caution</option>
              <option value="withdrawlOfficialSearchWithPriority">Withdraw Official Search with Priority</option>
    </select>
 </div>

 <div class="govuk-form-group-links">
  <label class="govuk-label form-label-bold" for="input4">
    Position 5
  </label>
  <select class="govuk-select selects" name="input4" id="input4">
              <option value="administratorReport">Administrator Report</option>
              <option value="agreedNotice">Agreed Notice</option>
              <option value="alternateDespatchAddress">Alternate despatch address</option>
              <option value="applicationEnquiry">Application Enquiry</option>
              <option value="bankruptcySearch">Bankruptcy Search</option>
              <option value="cancellationOfACaution">Cancellation of a Caution</option>
              <option value="cancellationOfANotice">Cancellation of a Notice (Not Unilateral)</option>
              <option value="cancellationOfHomeRights">Cancellation of Home rights (e-HR4)</option>
              <option value="cancellationOfOfficialSearchOfWholeOS1">Cancellation of Official Search of Whole (OS1)</option>
              <option value="cancellationOfOfficialSearchOfPartOS2">Cancellation of Official Search of Part (OS2)</option>
              <option value="cancellationOfRestriction">Cancellation of restriction (e-RX3)</option>
              <option value="cancellationOfUnilateralNotice">Cancellation of Unilateral Notice (eUN4)</option>
              <option value="changeOfAddressForService">Change of address for service</option>
              <option value="changeOfName">Change of Name</option>
              <option value="changeOfPropertyDescription">Change of Property Description</option>
              <option value="changePassword">Change Password</option>
              <option value="createUser">Create User</option>
              <option value="dataSynchronisationDownloads">Data Synchronisation Downloads</option>
              <option value="dataSynchronisationEnquiry">Data Synchronisation Enquiry</option>
              <option value="deathOfJointProprietor">Death of Joint Proprietor</option>
              <option value="digitalRegistrationService">Digital Registration Service</option>
              <option value="dischargeOfCharge">Discharge of a Charge</option>
              <option value="documentRegistrationService">Document Registration Service</option>
              <option value="documentView">Document View</option>
              <option value="enquiryByPropertyDescription">Enquiry by Property Description - Title View</option>
              <option value="fullSearch">Full Search</option>
              <option value="homeRights">Home Rights (E-HR1 Notice of home rights)</option>
              <option value="homeRightsSearch">Home Rights Search</option>
              <option value="localLandCharges">Local Land Charges</option>
              <option value="manageBusinessUnits">Manage Business Units</option>
              <option value="manageGroups">Manage Groups</option>
              <option value="manageUsers">Manage users</option>
              <option value="mapSearch">Map Search</option>
              <option value="messageArea">Message Area</option>
              <option value="Notifications">Notifications</option>
              <option value="officialCopyDeedsReferred">Official Copy – Deeds referred</option>
              <option value="officialCopyRegisterPlanCI">Official Copy – Register, Title Plan or CI</option>
              <option value="officialCopyRegisterHistorical">Official Copy – Register (Historical)</option>
              <option value="officialCopyTitlePlanHistorical">Official Copy – Title Plan (Historical)</option>
              <option value="officialSearchOfWholeOS1" selected>Official Search of Whole (OS1)</option>
              <option value="officialSearchOfPartOS2" selected>Official Search of Part (OS2)</option>
              <option value="officialSearchOfWholeOrPartWithoutPriorityOS3">Official Search of whole or part without priority (OS3)</option>
              <option value="pdfDownloads">PDF Downloads</option>
              <option value="personalDetails">Personal Details</option>
              <option value="registerViewHTML">Register View (HTML)</option>
              <option value="registerViewPDF">Register View (PDF)</option>
              <option value="registrationView">Registration View</option>
              <option value="removalOfUnilateralNotice">Removal of a Unilateral Notice (e-UN2)</option>
              <option value="replyToRequisition">Reply To Requisition</option>
              <option value="restrictions">Restrictions (Standard e-RX1)</option>
              <option value="searchOfTheIndexFranchisesAndManors">Search of the Index of Franchies and Manors (SIF)</option>
              <option value="searchOfTheIndexMap">Search of the Index Map</option>
              <option value="servicesRequested">Services Requested</option>
              <option value="statutoryCharge">Statutory Charge</option>
              <option value="titlePlanView">Title Plan View</option>
              <option value="unilateralNotice">Unilateral Notice (e-UN1)</option>
              <option value="vddinformation">VDD Information</option>
              <option value="viewMyApplications">View Applications</option>
              <option value="withdrawlOfARestriction">Withdrawal of a Restriction (e-RX4)</option>
              <option value="withdrawlOfCaution">Withdrawl of Caution</option>
              <option value="withdrawlOfficialSearchWithPriority">Withdraw Official Search with Priority</option>
  </select>
</div>

<div class="govuk-form-group-links">
<label class="govuk-label form-label-bold" for="input5">
  Position 6
</label>
<select class="govuk-select selects" name="input5" id="input5">
              <option value="administratorReport">Administrator Report</option>
              <option value="agreedNotice">Agreed Notice</option>
              <option value="alternateDespatchAddress">Alternate despatch address</option>
              <option value="applicationEnquiry">Application Enquiry</option>
              <option value="bankruptcySearch">Bankruptcy Search</option>
              <option value="cancellationOfACaution">Cancellation of a Caution</option>
              <option value="cancellationOfANotice">Cancellation of a Notice (Not Unilateral)</option>
              <option value="cancellationOfHomeRights">Cancellation of Home rights (e-HR4)</option>
              <option value="cancellationOfOfficialSearchOfWholeOS1">Cancellation of Official Search of Whole (OS1)</option>
              <option value="cancellationOfOfficialSearchOfPartOS2">Cancellation of Official Search of Part (OS2)</option>
              <option value="cancellationOfRestriction">Cancellation of restriction (e-RX3)</option>
              <option value="cancellationOfUnilateralNotice">Cancellation of Unilateral Notice (eUN4)</option>
              <option value="changeOfAddressForService">Change of address for service</option>
              <option value="changeOfName">Change of Name</option>
              <option value="changeOfPropertyDescription">Change of Property Description</option>
              <option value="changePassword">Change Password</option>
              <option value="createUser">Create User</option>
              <option value="dataSynchronisationDownloads">Data Synchronisation Downloads</option>
              <option value="dataSynchronisationEnquiry">Data Synchronisation Enquiry</option>
              <option value="deathOfJointProprietor">Death of Joint Proprietor</option>
              <option value="digitalRegistrationService">Digital Registration Service</option>
              <option value="dischargeOfCharge">Discharge of a Charge</option>
              <option value="documentRegistrationService">Document Registration Service</option>
              <option value="documentView">Document View</option>
              <option value="enquiryByPropertyDescription">Enquiry by Property Description - Title View</option>
              <option value="fullSearch">Full Search</option>
              <option value="homeRights">Home Rights (E-HR1 Notice of home rights)</option>
              <option value="homeRightsSearch">Home Rights Search</option>
              <option value="localLandCharges">Local Land Charges</option>
              <option value="manageBusinessUnits">Manage Business Units</option>
              <option value="manageGroups">Manage Groups</option>
              <option value="manageUsers">Manage users</option>
              <option value="mapSearch">Map Search</option>
              <option value="messageArea">Message Area</option>
              <option value="Notifications">Notifications</option>
              <option value="officialCopyDeedsReferred">Official Copy – Deeds referred</option>
              <option value="officialCopyRegisterPlanCI">Official Copy – Register, Title Plan or CI</option>
              <option value="officialCopyRegisterHistorical">Official Copy – Register (Historical)</option>
              <option value="officialCopyTitlePlanHistorical">Official Copy – Title Plan (Historical)</option>
              <option value="officialSearchOfWholeOS1">Official Search of Whole (OS1)</option>
              <option value="officialSearchOfPartOS2">Official Search of Part (OS2)</option>
              <option value="officialSearchOfWholeOrPartWithoutPriorityOS3">Official Search of whole or part without priority (OS3)</option>
              <option value="pdfDownloads">PDF Downloads</option>
              <option value="personalDetails">Personal Details</option>
              <option value="registerViewHTML">Register View (HTML)</option>
              <option value="registerViewPDF">Register View (PDF)</option>
              <option value="registrationView">Registration View</option>
              <option value="removalOfUnilateralNotice">Removal of a Unilateral Notice (e-UN2)</option>
              <option value="replyToRequisition">Reply To Requisition</option>
              <option value="restrictions">Restrictions (Standard e-RX1)</option>
              <option value="searchOfTheIndexFranchisesAndManors">Search of the Index of Franchies and Manors (SIF)</option>
              <option value="searchOfTheIndexMap">Search of the Index Map</option>
              <option value="servicesRequested">Services Requested</option>
              <option value="statutoryCharge">Statutory Charge</option>
              <option value="titlePlanView">Title Plan View</option>
              <option value="unilateralNotice">Unilateral Notice (e-UN1)</option>
              <option value="vddinformation">VDD Information</option>
              <option value="viewMyApplications">View Applications</option>
              <option value="withdrawlOfARestriction">Withdrawal of a Restriction (e-RX4)</option>
              <option value="withdrawlOfCaution">Withdrawl of Caution</option>
              <option value="withdrawlOfficialSearchWithPriority">Withdraw Official Search with Priority</option>
</select>
</div>

      </div>


       <div class="govuk-form-group" style="margin-bottom:15px;width: 100%;">
          <button id="edit" class="govuk-button" style="padding-left: 25px;padding-right: 25px;" type="submit" formaction="wizard_V1D">Finish</button>
      </div>


</form>

      </div>
    </div>

  </main>
</div>


<div class="govuk-grid-column-full" style="padding:0px;border-top:5px solid #006637;/* background: #f3f2f1; */">
 
        
    <div style="padding:30px; background: #f3f2f1;">
  
      <p style="color: #6d6d6d; text-decoration: none;font-size: 16px;margin-bottom:15px;">The following links open in a new tab.</p>
  
      <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Terms and conditions</u></a>
      |
      <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Accessibility statement</u></a>
      |
      <a class="footlink" style="text-color: grey; text-decoration: none;"><u>Freedom of information</u></a>
      |
      <a class="footlink" href="/prototype-admin/clear-data" style="text-color: grey; text-decoration: none;"><u>© Crown copyright</u></a>
  
            </div>
</div>

<!-- Content Area - End -->

   
<script>

  const data = [
  { 
      id: 'blank', 
      heading:'', 
      subheading: '', 
      label: '', 
      href: ''
    },
    { 
      id: 'digitalRegistrationService',
      heading: 'Digital Registration Service', 
      subheading: 'Submit application to HM Land Registry online', 
      label: 'Submit applications', 
      href: '#'
    },
    { 
      id: 'viewMyApplications',
      heading: 'View Applications', 
      subheading: 'View the progress of your applications', 
      label: 'View applications', 
      href: '#'
    },
    { 
      id: 'applicationEnquiry',
      heading: 'Application Enquiry', 
      subheading: 'Request information regarding your applications', 
      label: 'Make enquiry', 
      href: '#'
    },
    { 
      id: 'localLandCharges',
      heading: 'Local Land Charges', 
      subheading: 'Lorem ipsum aut et harum quiam, anduscime atia con', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'officialSearchOfWholeOS1',
      heading: 'Official Search of Whole (OS1)', 
      subheading: 'Protect a transaction for value on the whole of the land', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'officialSearchOfPartOS2',
      heading: 'Official Search of Part (OS2)', 
      subheading: 'Protect a transaction for value on part of the land', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'officialSearchOfWholeOrPartWithoutPriorityOS3',
      heading: 'Official Search of whole or part without priority (OS3)', 
      subheading: 'Allow a person who is not entitled to make a priority search or search of the register', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'cancellationOfOfficialSearchOfWholeOS1',
      heading: 'Cancellation of Official Search of Whole (OS1)', 
      subheading: 'An OS1 can be cancelled within the priority 30 day period if no longer required', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'cancellationOfOfficialSearchOfPartOS2',
      heading: 'Cancellation of Official Search of Part (OS2)', 
      subheading: 'An OS2 can be cancelled within the priority 30 day period if no longer required', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'documentView',
      heading: 'Document View', 
      subheading: 'Documents can be viewed on line to find out information', 
      label: 'View documents', 
      href: '#'
    },
    { 
      id: 'homeRightsSearch',
      heading: 'Home Rights Search', 
      subheading: 'Establish if a notice has been registered protecting a spouse or civil partnership rights', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'officialCopyDeedsReferred',
      heading: 'Official Copy – Deeds referred', 
      subheading: 'An official copy of a deed that is referred to on the register', 
      label: 'Request a document', 
      href: '#'
    },
    { 
      id: 'officialCopyRegisterHistorical', 
      heading: 'Official Copy – Register (Historical)', 
      subheading: 'An official copy of the register from a historical date', 
      label: 'Request a document', 
      href: '#'
    },
    { 
      id: 'officialCopyTitlePlanHistorical',
      heading: 'Official Copy – Title Plan (Historical)', 
      subheading: 'An official copy of the title plan from a historical date', 
      label: 'Request a document', 
      href: '#'
    },
    { 
      id: 'officialCopyRegisterPlanCI',
      heading: 'Official Copy – Register, Title Plan or CI', 
      subheading: 'Lorem ipsum aut et harum quiam, anduscime atia con', 
      label: 'Request a document', 
      href: '#'
    },
    { 
      id: 'searchOfTheIndexMap',
      heading: 'Search of the Index Map', 
      subheading: 'Find out if a piece of land or property is registered with the Land Registry', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'registerViewPDF', 
      heading: 'Register View (PDF)', 
      subheading: 'The ability for a user to view a register as a PDF', 
      label: 'View applications', 
      href: '#'
    },
    { 
      id: 'registerViewHTML',
      heading: 'Register View (HTML)', 
      subheading: 'The ability for a user to view a register as in HTML', 
      label: 'View applications', 
      href: '#'
    },
    { 
      id: 'searchOfTheIndexFranchisesAndManors', 
      heading: 'Search of the Index of Franchies and Manors (SIF)', 
      subheading: 'A SIF allows the user to search this index for a Franchise or Manor', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'titlePlanView',
      heading: 'Title Plan View', 
      subheading: 'This enables you to view the title plan of a registered title', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'withdrawlOfficialSearchWithPriority', 
      heading: 'Withdraw Official Search with Priority', 
      subheading: 'Apply for the search to be withdrawn if a customer no longer needs the protection', 
      label: 'Make withdrawl', 
      href: '#'
    },
    { 
      id: 'agreedNotice',
      heading: 'Agreed Notice', 
      subheading: 'Apply to have an interest noted on the register', 
      label: 'Make application', 
      href: '#'
    },
    { 
      id: 'cancellationOfACaution',
      heading: 'Cancellation of a Caution', 
      subheading: 'Proprietors of an estate affected by a caution may apply for a caution to be cancelled', 
      label: 'Make a cancellation', 
      href: '#'
    },
    { 
      id: 'cancellationOfANotice', 
      heading: 'Cancellation of a Notice (Not Unilateral)', 
      subheading: 'This enables you to cancel an Agreed Notice', 
      label: 'Make a cancellation', 
      href: '#'
    },
    { 
      id: 'changeOfAddressForService',
      heading: 'Change of address for service', 
      subheading: 'A registered proprietor can apply to change their address for service', 
      label: 'Request change', 
      href: '#'
    },
    { 
      id: 'changeOfName',
      heading: 'Change of Name', 
      subheading: 'A registered proprietor can apply to change their address for service', 
      label: 'Request change', 
      href: '#'
    },
    { 
      id: 'changeOfPropertyDescription',
      heading: 'Change of Property Description', 
      subheading: 'Apply to change the property description of their property at any time', 
      label: 'Request change', 
      href: '#'
    },
    { 
      id: 'statutoryCharge',
      heading: 'Statutory Charge', 
      subheading: 'Make an electronic application to register a statutory charge', 
      label: 'Make an application', 
      href: '#'
    },
    { 
      id: 'deathOfJointProprietor',
      heading: 'Death of Joint Proprietor', 
      subheading: 'Register notice of the death of a joint proprietor of a registered estate', 
      label: 'Request change', 
      href: '#'
    },
    { 
      id: 'homeRights',
      heading: 'Home Rights (E-HR1 Notice <br>of home rights)', 
      subheading: 'Protect a right to occupy the matrimonial or civil partnership home with an agreed notice', 
      label: 'Request change', 
      href: '#'
    },
    { 
      id: 'cancellationOfHomeRights', 
      heading: 'Cancellation of Home rights (e-HR4)', 
      subheading: 'A request to cancel a Home rights entry from the register', 
      label: 'Request change', 
      href: '#'
    },
    { 
      id: 'restrictions', 
      heading: 'Restrictions (Standard e-RX1)', 
      subheading: 'For restrictions that follow one of the forms set out in schedule 4, LRR 2003', 
      label: 'Request change', 
      href: '#'
    },
    { 
      id: 'cancellationOfRestriction',
      heading: 'Cancellation of restriction (e-RX3)', 
      subheading: 'Cancel a restriction from the register of title by someone other than the restrictioner', 
      label: 'Request cancellation', 
      href: '#'
    },
    { 
      id: 'withdrawlOfARestriction',
      heading: 'Withdrawal of a Restriction (e-RX4)', 
      subheading: 'Withdraw voluntary restrictions', 
      label: 'Make withdrawl', 
      href: '#'
    },
    { 
      id: 'unilateralNotice',
      heading: 'Unilateral Notice (e-UN1)', 
      subheading: 'Proprietors of an estate affected by a caution may apply for a caution to be cancelled', 
      label: 'Request cancellation', 
      href: '#'
    },
    { 
      id: 'cancellationOfUnilateralNotice', 
      heading: 'Cancellation of Unilateral Notice (eUN4)', 
      subheading: 'Cancel a unilateral notice from the registered title', 
      label: 'Request cancellation', 
      href: '#'
    },
    { 
      id: 'removalOfUnilateralNotice',
      heading: 'Removal of a Unilateral Notice (e-UN2)', 
      subheading: 'Remove a unilateral notice from the registered title', 
      label: 'Request removal', 
      href: '#'
    },
    { 
      id: 'withdrawlOfCaution',
      heading: 'Withdrawl of Caution', 
      subheading: 'Remove a caution entry form the registered title', 
      label: 'Make withdrawl', 
      href: '#'
    },
    { 
      id: 'dischargeOfCharge',
      heading: 'Discharge of a Charge', 
      subheading: 'Remove a charge entry from the register of title as the debt has been repaid', 
      label: 'Request cancellation', 
      href: '#'
    },
    { 
      id: 'enquiryByPropertyDescription',
      heading: 'Enquiry by Property Description <br>- Title View', 
      subheading: 'Lorem ipsum essimin plate voluptatis digent', 
      label: 'Make an enquiry', 
      href: '#'
    },
    { 
      id: 'bankruptcySearch',
      heading: 'Bankruptcy Search', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum niscii', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'fullSearch',
      heading: 'Full Search', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum nisciis imolor adi', 
      label: 'Start new search', 
      href: '#'
    },
    { 
      id: 'documentRegistrationService',
      heading: 'Document Registration Service', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum nisciis imolor adi', 
      label: 'Submit applications', 
      href: '#'
    },
    { 
      id: 'registrationView',
      heading: 'Registration View', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum nisciis imolor adi', 
      label: 'View the register', 
      href: '#'
    },
    { 
      id: 'replyToRequisition', 
      heading: 'Reply To Requisition', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum nisciis imolor adi', 
      label: 'Reply to requisition', 
      href: '#'
    },
    { 
      id: 'dataSynchronisationEnquiry',
      heading: 'Data Synchronisation Enquiry', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum nisciis imolor adi', 
      label: 'Make an enquiry', 
      href: '#'
    },
    { 
      id: 'dataSynchronisationDownloads',
      heading: 'Data Synchronisation Downloads', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum nisciis imolor adi', 
      label: 'Download document', 
      href: '#'
    },
    { 
      id: 'pdfDownloads',
      heading: 'PDF Downloads', 
      subheading: 'Access your PDF downloads from the download centre', 
      label: 'View downloads', 
      href: '#'
    },
    { 
      id: 'Notifications',
      heading: 'Notifications', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'View notifications', 
      href: '#'
    },
    { 
      id: 'messageArea', 
      heading: 'Message Area', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'View messages', 
      href: '#'
    },
    { 
      id: 'servicesRequested',
      heading: 'Services Requested', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'View requests', 
      href: '#'
    },
    { 
      id: 'alternateDespatchAddress',
      heading: 'Alternate despatch address', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'View address', 
      href: '#'
    },
    { 
      id: 'manageBusinessUnits', 
      heading: 'Manage Business Units', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'Manage units', 
      href: '#'
    },
    { 
      id: 'manageGroups', 
      heading: 'Manage Groups', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'Manage groups', 
      href: '#'
    },
    { 
      id: 'manageUsers',
      heading: 'Manage Users', 
      subheading: "Manage your business unit's users", 
      label: 'Manage users', 
      href: '#'
    },
    { 
      id: 'createUser',
      heading: 'Create User', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'Create user', 
      href: '#'
    },
    { 
      id: 'personalDetails', 
      heading: 'Personal Details', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'View details', 
      href: '#'
    },
    { 
      id: 'changePassword', 
      heading: 'Change Password', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'Change password', 
      href: '#'
    },
    { 
      id: 'administratorReport', 
      heading: 'Administrator Report', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum', 
      label: 'View report', 
      href: '#'
    },
    { 
      id: 'vddinformation',
      heading: 'VDD Information', 
      subheading: 'Lorem ipsum rum etur autet aut ape la sant volo mossunt facerum niscii', 
      label: 'View information', 
      href: '#'
    },
    { 
      id: 'mapSearch', 
      heading: 'Map Search', 
      subheading: 'Find out if a property is registered, its location, title number & tenure details', 
      label: 'Start new search', 
      href: '#'
    },
  ]
  
  let inEditMode = false
  
  const button = document.getElementById('edit')
  const currentInputs = document.getElementsByClassName('selects')
  const inputSection = document.getElementById('inputs')
  const valuesSection = document.getElementById('service-values')
  
  const htmlCollectionToArray = (array) => Array.prototype.slice.call(array)
  const selects = htmlCollectionToArray(currentInputs);
  
  const initialiseApp = () => {
    updateValues()
    inputSection.style.display = 'none'
  }
  
  const updateValues = () => {
    for (const [index, select] of selects.entries()) {
      // Find the associated data from our array of mock data
      const service = data.find(element => element.id === select.value)
  
      if(service) {
        // Update the text of the relevant fields
        document.getElementById(`value${index}`).classList.remove('unselected')
        document.getElementById(`value-heading${index}`).innerHTML = service.heading
        document.getElementById(`value-subheading${index}`).innerHTML = service.subheading
        document.getElementById(`value-label${index}`).innerHTML = service.label
      } else {
        document.getElementById(`value${index}`).classList.add('unselected')
      }
    }
  }
  
  const handleEdit = (event) => {
    event.preventDefault()
    inEditMode = !inEditMode
  
    if (inEditMode) {
      button.innerHTML = 'Update Links'
      inputSection.style.display = 'block'
    } else {
      inputSection.style.display = 'none'
      button.innerHTML = 'Edit Links'
    }
  
    updateValues()
  }
  
  // load data from some database... 
  initialiseApp()
  button.addEventListener('click', handleEdit)
            
</script>
  
  
<script>
    function myFunction() {
    var x = document.getElementById("linksDisplay");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  
</script>

{% endblock %}



{% block pageScripts %}
  <!-- load accessible autocomplete code (used in both examples) -->


<script type="text/javascript">
var savedLocation = {{ data['input0'] | dump | safe }}
document.getElementById('input0').value = savedLocation

var savedLocation = {{ data['input1'] | dump | safe }}
document.getElementById('input1').value = savedLocation

var savedLocation = {{ data['input2'] | dump | safe }}
document.getElementById('input2').value = savedLocation

var savedLocation = {{ data['input3'] | dump | safe }}
document.getElementById('input3').value = savedLocation

var savedLocation = {{ data['input4'] | dump | safe }}
document.getElementById('input4').value = savedLocation

var savedLocation = {{ data['input5'] | dump | safe }}
document.getElementById('input5').value = savedLocation
</script>

{% endblock %}