<!DOCTYPE html>
{% extends "layouts/layout_homepage.html" %}
{% block pageTitle %} Specialist support services
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation.html" %} 


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
.govuk-width-container-fixed {
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}


.govuk-heading-s {
    font-family: 'Roboto', sans-serif;
}

.govuk-accordion__section-toggle-text {
  color: #006637;
}

.govuk-accordion-nav__chevron--down {
  color: #006637;
}

.govuk-accordion-nav__chevron {
  color: #006637;
}

.govuk-accordion__show-all-text {
  color: #006637;
}

li:hover {
  color: #0b0c0c;
}

</style>




<div class="govuk-width-container-fixed">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" style="max-width: 960px;">
            <h1 class="govuk-heading-xl">Specialist Support Services</h1>

            {% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Application Management Service"
      },
      summary: {
        text: "We can help before you submit an application and throughout the registration process with managed support."
      },
      content: {
        html: "<h3 class='govuk-heading-s'>Complex commercial or infrastructure development</h3> 
        <p>We can help before you submit an application and throughout the registration process with managed support. There's no fee and it could help save you time, navigate registry processes and avoid potential delays.</p>
        <p><a href='https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.gov.uk%2Fguidance%2Fsubmit-complex-commercial-or-infrastructure-development-enquiries-and-transactions-to-hm-land-registry&data=05%7C01%7CLauren.Thomas%40landregistry.gov.uk%7Cae3e6a3359594acb6adf08da7630aca4%7C236309a8284b4e57a7b3fc767736f69d%7C0%7C0%7C637952248664716429%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=q89iQotIumbQ%2FuKHJRiQpSlGz7fJQ%2FTA4Ee9nGkKFq0%3D&reserved=0'>See services available and how you could benefit</a></p>
        <h3 class='govuk-heading-s'>Managed support from end-to-end (Application Management Service)</h3> 
        <p>Get direct access to registration experts, who will provide a managed support service through the whole transaction lifecycle.</p>
            <p class='govuk-body'>Ask us to manage your application:</p>
              <ul class='govuk-list govuk-list--bullet'>  
              <li>Ready now? <a href='https://customerhelp.landregistry.gov.uk/managedservices_ams1start/'>Fill in a quick online form to tell us about your application.</a></li>
              <li>Want to work with someone in your firm to clarify things first? <a href='https://www.gov.uk/government/publications/application-for-application-management-service-ams1'>Download a form</a> fill it in and <a href='https://customerhelp.landregistry.gov.uk/managedserviceswebform'> upload it</a> when you're ready</li>
              </ul>
        <h3 class='govuk-heading-s'>Pre-submission enquiry guidance</h3> 
        <p>Get direct access to our specialist technicians for guidance on technical or procedural queries.</p>
        <p class='govuk-body'>Ask for support:</p>
        <ul class='govuk-list govuk-list--bullet'> 
            <li>Ready now? <a href='https://customerhelp.landregistry.gov.uk/managedservices_ams1start/'>Fill in a quick online form to tell us about your issue.</a></li>
            <li>Want to work with someone in your firm to clarify things first? <a href='https://www.gov.uk/government/publications/application-for-application-management-service-ams1'>Download a form</a> fill it in and <a href='https://customerhelp.landregistry.gov.uk/managedserviceswebform'> upload it</a> when you're ready</p></li>
        </ul>"
      }
    },
    {
      heading: {
        text: "Ask for guidance"
      },
      summary: {
        text: "Speak directly with one of our dedicated senior technicians who can help you to navigate registry processes."
      },
      content: {
        html: "<h3 class='govuk-heading-s'>Dealing with a developing estate of six or more plots?</h3> 
        <p>If you're about to start a new piece of work that has complexities not covered in our practice guides, get in touch. We can help.</p>
        <p>Speak directly with one of our dedicated senior technicians who can help you to navigate registry processes and support you to avoid unnecessary errors, making the registration process easier and faster for you.</p>
        <h3 class='govuk-heading-s'>Get started</h3>
        <p>Complete our simple online form and a member of our team will be in contact.</p>
"
      }
    },
    {
      heading: {
        text: "Estate plan approval"
      },
      summary: {
        text: "Lodge Estate layout plans, Estate boundary plans and Draft Transfers and Leases."
      },
      content: {
        html: "<h3 class='govuk-heading-s'>Get insider help on complex applications</h3> 
        <p>We offer a number of free services to help simplify the application process and provide clarity in advance of plot sales. </p>
        <p>With this service, you can lodge Estate layout plans, Estate boundary plans and Draft Transfers and Leases for approval by HM Land Registry prior to a development being started, or in the early stages of the development build.</p>
        <p>Before you get started, why not take a look at our handy guide and checklist (link) for more information. Full details can be found in <a href='https://www.gov.uk/government/publications/developing-estates-registration-services/practice-guide-41-developing-estates-registration-services'>Practice Guide 41, supplements 1 to 5</a>.</p>
        <h3 class='govuk-heading-s'>Get started</h3>
        <p>Complete our online application form (link), it only takes 5 minutes, and a member of our specialist team will be in touch.</p>
"
      }
    },
    {
      heading: {
        text: "Large-scale applications"
      },
      summary: {
        text: "Get expert support on preparing and lodging large-scale applications."
      },
      content: {
        html: "<h3 class='govuk-heading-s'>Get expert support on preparing and lodging large-scale applications</h3> 
        <p>Our Bulk Applications team are on hand to assist you with large-scale applications, helping you to avoid the complications associated with submitting applications based on a common deed or deeds.</p>
        <p>This service is available to those submitting applications for:</p>
        <ul class='govuk-list govuk-list--bullet'> 
            <li>more than 50 registered titles; or</li>
            <li>more than 50 unregistered properties; or</li>
            <li>any combination of registered and unregistered titles exceeding 50 in total.</li>
        </ul>   
        <p>For more information, including the calculation of fees, <a href='https://www.gov.uk/government/publications/large-scale-applications-and-calculation-of-fees/practice-guide-33-large-scale-applications-and-calculation-of-fees'>see Practice Guide 33</a></p> 
        <h3 class='govuk-heading-s'>Get started</h3>
        <p>Complete this <a href='https://customerhelp.landregistry.gov.uk/bulkapplicationswebform/'>simple contact form</a> and a member of the team will be in touch.</p>
"
      }
    },
    {
        heading: {
          text: "Large-scale voluntary first registrations"
        },
        summary: {
          text: "Get expert support before lodging large-scale voluntary first registrations."
        },
        content: {
          html: "
          <h3 class='govuk-heading-s'>Get expert support before lodging large-scale voluntary first registrations</h3>
          <p>Our dedicated team are on hand to assist those seeking the voluntary first registration of a portfolio of unregistered properties, land assets or a large landed estate.</p>
          <p>This free service is available to those registering in excess of 20 individual parcels or units of land and can help you to avoid inconsistencies that can arise from individual applications, while enabling more efficient processing.</p>
          <p>For more information, <a href='https://www.gov.uk/government/publications/large-scale-applications-and-calculation-of-fees/practice-guide-33-large-scale-applications-and-calculation-of-fees'>see Practice Guide 33</a></p>
          <h3 class='govuk-heading-s'>Get started</h3>
          <p>Complete this <a href='https://customerhelp.landregistry.gov.uk/largescale_start/'>simple contact form</a> and a member of the team will be in touch.</p>
"
        }
      }
  ]
}) }}

        </div>
    </div>

  </main>
</div>







{% include "includes/officialCopiesFooter.html" %} 



{% endblock %}