<!DOCTYPE html>
{% extends "layouts/layout_homepage.html" %}
{% block pageTitle %} Specialist support services
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation.html" %} 


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
.govuk-width-container-fixed {
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}


.govuk-heading-s {
    font-family: 'Roboto', sans-serif;
}

.govuk-accordion__section-toggle-text {
  color: #006637;
}

.govuk-accordion-nav__chevron--down {
  color: #006637;
}

.govuk-accordion-nav__chevron {
  color: #006637;
}

.govuk-accordion__show-all-text {
  color: #006637;
}

li:hover {
  color: #0b0c0c;
}

</style>




<div class="govuk-width-container-fixed">
  <!-- <a href="#" class="govuk-back-link">Back</a> -->

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" style="max-width: 960px;">
            <h1 class="govuk-heading-xl">Specialist Support Services</h1>

            <p class="govuk-body">Discover the range of expert-led services that are available to support those prior to submitting large-scale or complex applications or starting the development of residential estates. </p>
            <p class="govuk-body">The links within the sections open in a new tab.</p>
            {% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      heading: {
        text: "Application Management Service"
      },
      summary: {
        text: "Support with registering a complex commercial transaction or infrastructure developments."
      },
      content: {
        html: "
        <p>We can help before you submit an application, and throughout the registration process with managed support. There's no fee and it could help save you time, navigate registry processes easier and avoid potential delays.</p>
        <p><a target='_blank' href='https://www.gov.uk/guidance/submit-complex-commercial-or-infrastructure-development-enquiries-and-transactions-to-hm-land-registry'>Find out about the help you can get with our services</a>.</p>
        <h3 class='govuk-heading-s'>Managed support from end-to-end.</h3> 
        <p>Get direct access to registration experts, who will provide a managed support service through the whole transaction lifecycle.</p>
        <p>
          Use the <a target='_blank' href='https://customerhelp.landregistry.gov.uk/managedservices_ams1start/'>Application Management Service online form</a> to tell us about your application or download an <a target='_blank' href='https://www.gov.uk/government/publications/application-for-application-management-service-ams1'>AMS1 form</a> to submit your application. Then, <a target='_blank' href='https://customerhelp.landregistry.gov.uk/managedserviceswebform/'>attach and return your completed form</a>.
        </p>
        <h3 class='govuk-heading-s'>Pre-submission enquiry guidance.</h3> 
        <p>Get expert support for guidance on technical or procedural queries.</p>
        <p>Use the <a target='_blank' href='https://customerhelp.landregistry.gov.uk/managedservices_pss1start/'>Pre-submission enquiry online form</a> to tell us about your application or download a <a target='_blank' href='https://www.gov.uk/government/publications/application-for-pre-submission-enquiry-service-pss1'>PSS1 form</a> to submit your enquiry. Then, <a target='_blank' href='https://customerhelp.landregistry.gov.uk/managedserviceswebform/'>attach and return your completed form</a>.</p>"
      }
    },
    {
      heading: {
        text: "Ask for Guidance Service"
      },
      summary: {
        text: "Get expert support with application complexities not covered in our practice guides."
      },
      content: {
        html: "
        <p>If you’re about to start a new piece of work that has complexities not covered in our practice guides, we can help.</p>
        <p>You can speak directly with a member of our specialist team who can help you to navigate registry processes and support you to avoid unnecessary errors. This will make the registration process easier for you.</p>
        <h3 class='govuk-heading-s'>Get started</h3>
        <p><a target='_blank' href='https://customerhelp.landregistry.gov.uk/askforguidance_start/'>Complete our online form</a> and a member of our specialist team will be in contact with you.</p>"
      }
    },
    {
      heading: {
        text: "Developing Estate Service"
      },
      summary: {
        text: "Get expert support in dealing with a developing residential estate of six or more plots."
      },
      content: {
        html: " 
        <p>We offer free services to help simplify the application process and provide clarity in advance of plot sales. </p>
        <p>With this service, you can lodge estate layout plans, estate boundary plans, draft transfers and leases for approval, and any other associated documentation. This can be done prior to a development being started, or in the early stages of the development build.</p>
        <p><a target='_blank' href='https://www.gov.uk/government/publications/developing-estates-registration-services/practice-guide-41-developing-estates-registration-services'>Find out more about developing estates in Practice Guide 41</a>.</p>
        <h3 class='govuk-heading-s'>Get started</h3>
        <p><a target='_blank' href='https://customerhelp.landregistry.gov.uk/EPA-start/'>Complete our online form</a> and a member of our specialist team will be in contact with you.</p>"
      }
    },
    {
      heading: {
        text: "Guidance on large-scale applications "
      },
      summary: {
        text: "Get expert support on preparing and lodging large-scale applications."
      },
      content: {
        html: "
        <p>Our Bulk Application Team are here to assist you with large-scale applications. They will help you to avoid the complications associated with submitting applications based on a common deed or deeds.</p>
        <p>This service is available to those submitting applications for:</p>
        <ul class='govuk-list govuk-list--bullet'> 
            <li>more than 50 registered titles; or</li>
            <li>more than 50 unregistered properties; or</li>
            <li>any combination of registered and unregistered titles exceeding 50 in total</li>
        </ul>   
        <p><a target='_blank' href='https://www.gov.uk/government/publications/large-scale-applications-and-calculation-of-fees/practice-guide-33-large-scale-applications-and-calculation-of-fees'>Find out more about large-scale applications in Practice Guide 33</a>.</p> 
        <h3 class='govuk-heading-s'>Get started</h3>
        <p><a target='_blank' href='https://customerhelp.landregistry.gov.uk/bulkapplicationswebform/'>Complete our online form</a> and a member of our specialist team will be in contact with you.</p>"
      }
    },
    {
        heading: {
          text: "Guidance on large-scale voluntary first registrations"
        },
        summary: {
          text: "Get expert support before lodging large-scale voluntary first registrations."
        },
        content: {
          html: "
          <p>Our dedicated team are on hand to assist those seeking the voluntary first registration of a portfolio of unregistered properties, land assets or a large-landed estate.</p>
          <p>This free service is available to those registering more than 20 individual parcels or units of land and can help you to avoid inconsistencies that can arise from individual applications, while enabling more efficient processing.</p>
          <p>For more information, <a target='_blank' href='https://www.gov.uk/government/publications/large-scale-applications-and-calculation-of-fees/practice-guide-33-large-scale-applications-and-calculation-of-fees'>Find out more about large-scale applications in Practice Guide 33</a>.</p>
          <h3 class='govuk-heading-s'>Get started</h3>
          <p><a target='_blank' href='https://customerhelp.landregistry.gov.uk/largescale_start/'>Complete our online form</a> and a member of the team will be in touch.</p>"
        }
      }
  ]
}) }}

        </div>
    </div>

  </main>
</div>







{% include "includes/officialCopiesFooter.html" %} 



{% endblock %}