:root {
    --gap: 30px;
    --duration-shrink: .25s;
    --duration-expand: .25s;
    --no-duration: 0s;
  }
  
    
  ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--gap);
    list-style: none;
    padding: 0;
  }
  
  @media screen and (min-width: 640px) {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  
  li {
    transition-property: transform, opacity;
    transition-timing-function: ease-in-out;
    transition-duration: var(--duration-expand);
  }
  
  li.is-zoomed {
    transition-duration: var(--duration-shrink);
  }
  
  .is-zoomed li:not(.is-zoomed) {
    opacity: 0.3;
  }
  
  button {
    all: initial;
    display: block;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    border: 1px solid #D8DDE0;
  }
  
  button:focus {
    outline: none;
  }
  
  li.is-zoomed button,
  ul:not(.is-zoomed) button:focus {
    outline: 2px solid #ffdd00;
    outline-offset: 1px;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .visually-hidden {
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
  }
  
  @media (prefers-reduced-motion) {
    li,
    li.is-zoomed {
      transition-duration: var(--no-duration);
    }
  }