
.jobTitle {
    color:#929191;
  }
  
  .simpleList {
      display: block;
      list-style-type: none;
      margin-block-start: 0em;
      margin-block-end: 0em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0px;
  }
  
  .simpleList li {
  padding-bottom:5px;
  }

  .simpleListNumbered {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

.simpleListNumbered li {
padding-bottom:20px;
}


  
  /* Gov UK Accordion restyled */
  
  .js-enabled .govuk-accordion__section {
      padding-top: 0;
  }
  
  .govuk-accordion__section-button {
      margin: 0;
      padding: 20px 0px !important;
      border-bottom: 0px !important;
  }
  
  .govuk-accordion__section-heading-text {
      float: left;
  }
  
  .js-enabled .govuk-accordion__section-toggle, .js-enabled .govuk-accordion__section-heading-text, .js-enabled .govuk-accordion__section-summary {
      margin-bottom: 0px;
  }
  
  .govuk-accordion__section-heading-text {
      font-size: 36px;
      line-height: 1;
  }
  
  .govuk-accordion__section-toggle {
      float: right;
  }
  
  .js-enabled .govuk-accordion__section-toggle {
      font-size: 24px;
      line-height: 1;
      color: #0b0c0c;
  }
  
  .govuk-accordion__section-toggle-focus {
      padding-top:0px;
  }
  
  .govuk-accordion__controls {
      display:none;
  }
  
  
  .correspondence {
      margin-bottom:5px;
  }
  
  .js-enabled .govuk-accordion__section-content {
      padding-bottom: 30px;
      padding-top: 5px;
  }
  
  .js-enabled .govuk-accordion__section-toggle-text {
    display:none;
  }

.timelinePost {
    border-bottom:1px solid #D8DDE0;
    margin-bottom: 20px;
}

  .timelinePostTitle {
font-size:19px;
font-weight:700;
margin-top:10px;
margin-bottom:5px;
}

   .timelinePostDescription {
        margin-bottom:0px;
}

  .timelinePostDate {
    color: #505a5f;
    font-size:16px;
    margin-top:5px;
  }

.tagDesign {
    color: #ffffff;
    background-color: #1d70b8;
}

.tagUseresearch {
    color: #594D00;
    background-color: #FFF7BF;
}

.tagAnalysis {
    color: #6E3619;  
    background-color:#FCD6C3;
}

.govuk-width-container {
    max-width: 1200px;
}

.govuk-grid-column-full {
    padding: 0 25px 0px 25px;
    width: 98%;
    margin: 0 1%;
}

.backButton {
    padding-bottom:0px;
}

.actionableInsights {
    padding: 30px 30px 10px 30px;
    background: #f3f2f1;
    max-width: 600px;
    border-left:10px solid #b1b4b6;
}