<!DOCTYPE html>
{% extends "layout_unbranded.html" %}
{% block pageTitle %} View Applications
{% endblock %}
{% block content %}


<style>



</style>


<!-- Navigation Menu - End -->

<!-- Content Area - Start -->

<div style="margin: auto;">

    <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <h1 class="govuk-heading-xl">Summary</h1>
              <div>
                <p>{{ data['organisation-email'] }}</p>
              </div>
              <div>
                <a href="/prototype-admin/clear-data">Clear stored data</a>
              </div>

          </div>
        </div>

    </div>

</div>


{% endblock %}