{% extends "layouts/layout_ProjectPage.html" %}

{% block pageTitle %}
Project page title
{% endblock %}

{% block content %}


<div class="govuk-grid-row govuk-body">


<!-- This is where the project title goes and a small descritpion of what the work covers. -->

    <div class="govuk-grid-column-full govuk-!-padding-bottom-9  govuk-!-padding-top-6">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        Project page title
      </h1>
      
    </div>


<!-- This is where the accordion content is added. If the signed-off design is not required, simply comment it out. -->

    <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Project details
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in metus a est tristique rutrum. Fusce eget dui non sapien gravida tincidunt. Donec consectetur imperdiet risus, in commodo quam tincidunt eu.</p>

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-5">Project team</h3>

              <ul class="projectTeamList">
                <li>Andy Carr - <span class="jobTitle">Interaction design</span></li>
                <li>Lauren Thomas - <span class="jobTitle">Interaction design</span></li>
                <li>James Thomas - <span class="jobTitle">Contentdesign</span></li>
                <li>Jane James - <span class="jobTitle">User research</span></li>
                <li>Anxo Cereijo - <span class="jobTitle">User research</span></li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Signed-off design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Lorem ipsum</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Design iterations
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              <p class='govuk-body'>Lorem ipsum</p>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  User research
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
              <p class='govuk-body'>Lorem ipsum</p>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Timeline
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
              <p class='govuk-body'>Lorem ipsum</p>
            </div>
          </div>

        </div>
    </div>


<!-- This is where you can display pictures in an accessible, expandable gallery. The best picture size to use is 990px by 495px -->

    <div class="govuk-grid-column-full  govuk-!-padding-top-7">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        Gallery
      </h2>
      <p>A selection of images that demonstrate design iterations.</p>

      <ul class="js-favs" role=”list”>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/990x495.jpg" alt="990px x 495px" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/990x495.jpg" alt="990px x 495px" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/990x495.jpg" alt="990px x 495px" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/990x495.jpg" alt="990px x 495px" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/990x495.jpg" alt="990px x 495px" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/990x495.jpg" alt="990px x 495px" />
          </button>
        </li>
      </ul>


    </div>

  </div>

{% endblock %}
