{% extends "layouts/layout_ProjectPage.html" %}

{% block pageTitle %}
Notifications
{% endblock %}

{% block content %}


<div class="govuk-grid-row govuk-body">


<!-- This is where the project title goes and a small descritpion of what the work covers. -->

    <div class="govuk-grid-column-full govuk-!-padding-bottom-9  govuk-!-padding-top-6">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        Notifications
      </h1>
      


    </div>


<!-- This is where the accordion content is added. If the signed-off design is not required, simply comment it out. -->

    <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Overview
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              
              <p>Previous User research and communications with our Users, discovered the need to see what applications require them to take action, in a clearer and quicker way than is currently available to them.</p>

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-5">Project team</h3>

              <ul class="simpleList">
                <li>Andy Carr - <span class="jobTitle">Interaction design</span></li>
                <li>Lauren Thomas - <span class="jobTitle">Interaction design</span></li>
                <li>James Thomas - <span class="jobTitle">Content design</span></li>
                <li>Jane James - <span class="jobTitle">User research</span></li>
                <li>Anxo Cereijo - <span class="jobTitle">User research</span></li>
              </ul>
            </div>
          </div>

          <!-- <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Signed-off design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Lorem ipsum</p>
            </div>
          </div> -->

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              

              <ul class="simpleList">
                <li><a target="_blank" href="https://www.figma.com/file/AOLR55akECWX2uI5MlvldR/Homepage-%26-Notifications?node-id=0%3A1">Figma</a> - This document contains designs for rounds 1 and 2 of user research</li>

              </ul> 

            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  User research
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">


              <ul class="simpleList">
                <li><a target="_blank" href="https://app.mural.co/t/helensharpslandregistrygovuk6700/m/helensharpslandregistrygovuk6700/1653395504672/19f930427e19188e641d7cb990432495344f6819?sender=ub1df836af3558de0f1090510">Mural</a> - Portal refresh user research planning - notifications</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7B4D2F77D1-7C27-4FE9-8D53-DE09ECACAB1C%7D&file=2022%20User%20Research%20-%20Portal%20Refresh%20working%20UR%20plan.docx&action=default&mobileredirect=true">Working plan</a> - Portal Refresh 2022-2023 User Research</li>
                <li><a target="_blank" href="https://trello.com/b/UFFtMm4W/p382-user-research-tasks-portal-refresh-board">Trello</a> - P382 User Research tasks - Portal Refresh Board</li>
              </ul>  


              <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-5">Round 1</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="projects/notifications/index.html">Research brief (missing)</a> - What, why, who, approach/methodology, analysis</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7B0A454E47-D0DB-4B3F-BA12-B07EA685248E%7D&file=4.%20Scenarios%20-%20Round%201%20Notifications%20in%20VA.docx&nav=eyJjIjoxOTQ5MjU0MjM0fQ&action=default&mobileredirect=true">Scenarios</a> - Remote moderated usability testing of notifications in VA prototype</li>
                <li><a target="_blank" href="userResearch/round1/scenario1/start.html">Scenario 1</a> - Display applications that require action by clicking on a filter button in the left menu</li>
                <li><a target="_blank" href="userResearch/round1/scenario2/start.html">Scenario 2</a> - Display applications that require action by clicking on a tab at the top of the applications</li>
              </ul>  

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-5">Round 2</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7BD3F6054C-2A6E-4C6C-B952-9015D315B533%7D&file=1.%20Research%20brief%20-%20Round%202%20notifications%20in%20VA.docx&nav=eyJjIjo1NTE0NzgwMDl9&action=default&mobileredirect=true">Research brief</a> - What, why, who, approach/methodology, analysis</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7BF26FD826-8625-4FAA-B234-384767494AD9%7D&file=4.%20Scenarios%20-%20Round%202%20Notifications%20in%20VA.docx&action=default&mobileredirect=true">Scenarios</a> - Remote moderated usability testing of notifications in VA prototype</li>
                <li><a target="_blank" href="userResearch/round2/scenario1/start.html">Scenario 1</a> - Display applications that require action by using an additional filter option in the left menu</li>
                <li><a target="_blank" href="userResearch/round2/scenario2/start.html">Scenario 2</a> - Display applications that require action by clicking on a tab at the top of the applications</li>
                <li><a target="_blank" href="userResearch/round2/scenario3/start.html">Scenario 3</a> - Display applications that require action by clicking on filter buttons in an expandable panel</li>
              </ul>  



            </div>
          </div>


<!-- 
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Timeline
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">


                <div class="timelinePost">
                    <div>
                        <strong class="govuk-tag tadDesign">Design</strong>
                        <p class="timelinePostTitle">Round 1</p>
                        <p class="timelinePostDescription">This consisted of 5 particpants testing 2 different prototypes.</p>
                        <p class="timelinePostDate">8th June 2022 - 9th June 2022</p>
                    </div>
                </div>

                <div class="timelinePost">
                  <div>
                    <strong class="govuk-tag tagUseresearch">User research</strong>
                      <p class="timelinePostTitle">Analysis of round 1 user research </p>
                      <p class="timelinePostDescription">The outcome of this meeting was to create a third scenario for round 2</p>
                      <p class="timelinePostDate">10th June 2022</p>
                  </div>
              </div>

              <div class="timelinePost">
                <div>
                    <strong class="govuk-tag tagUseresearch">User research</strong>
                    <p class="timelinePostTitle">Round 1</p>
                    <p class="timelinePostDescription">This consisted of 5 particpants testing 2 different prototypes.</p>
                    <p class="timelinePostDate">8th June 2022 - 9th June 2022</p>
                </div>
            </div>


              
            </div>
          </div> -->

        </div>
    </div>


<!-- This is where you can display pictures in an accessible, expandable gallery. The best picture size to use is 990px by 495px -->

    <div class="govuk-grid-column-full  govuk-!-padding-top-7">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        Gallery
      </h2>
      <p>A selection of concepts and ideas from this project.</p>

      <ul class="js-favs" role=”list”>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-1.jpg" alt="Original requires action concept" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-2.jpg" alt="Homepage design with notifications" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-3.jpg" alt="This image showcases a tab system, allowing the user to toggle" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-4.jpg" alt="An updated expanded application" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-5.jpg" alt="An updated expanded application that displays a requisition warning to users" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-6.jpg" alt="A collapsable filter panel" />
          </button>
        </li>
      </ul>


    </div>

  </div>

{% endblock %}
