{% extends "layouts/layout_ProjectPage.html" %}

{% block pageTitle %}
Notifications
{% endblock %}



{% block content %}

<style>
    .govuk-accordion__section-heading-text {
      font-size: 36px;
      line-height: 1;
  }

::marker {
  font-weight:600;
}

</style>

<div class="govuk-grid-row govuk-body">
  
  <div class="govuk-grid-column-full backButton">
      <a href="/index.html" class="govuk-back-link" style="margin-bottom:20px;">Back to projects</a>
  </div>
<!-- This is where the project title goes and a small descritpion of what the work covers. -->

    <div class="govuk-grid-column-full govuk-!-padding-bottom-9  govuk-!-padding-top-6">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        Notifications
      </h1>
      


    </div>


<!-- This is where the accordion content is added. If the signed-off design is not required, simply comment it out. -->

    <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Overview
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              
              <p>Previous User research and communications with our Users, discovered the need to see what applications require them to take action, in a clearer and quicker way than is currently available to them.</p>

              <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Project team</h3>

              <ul class="simpleList">
                <li>Andy Carr - <span class="jobTitle">Interaction design</span></li>
                <li>Lauren Thomas - <span class="jobTitle">Interaction design</span></li>
                <li>James Thomas - <span class="jobTitle">Content design</span></li>
                <li>Jane James - <span class="jobTitle">User research</span></li>
                <li>Anxo Cereijo - <span class="jobTitle">User research</span></li>
              </ul>
            </div>
          </div>

          <!-- <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Signed-off design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Lorem ipsum</p>
            </div>
          </div> -->

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              

              <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">User research based recommended design</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="design/index_V1.html">Design</a> - This has come out of 4 rounds of user research and testing. It combines all of the actionable insights and learnings. 
                </li>
              </ul>  
              <ul class="simpleListNumbered" style="margin-top:20px;list-style: auto;">
                <li>Tabs - applications are now separated in to All, Requires action and HMLR to review</li>
                <li>Standalone page - applications open in their own pages, rather than in an expanded accordion</li>
                <li>Standalone page content - content is placed in to accordions, to allow power users to only display the information they need</li>
                <li>Notes - a new section that allows users and colleagues to post notes on applications</li>
                <li>Visual progress - this dynamic graphic helped more junior users in particular</li>
                <li>Reply to requisition - a dedicated area complete wtih 3 simple steps to help guide the user through the replying process.</li>
                <li>Share application - users can press a button and copy the direct link to the application to share with colleagues or use in their own tracking documents</li>
              </ul>

            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  User research
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

              <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Pre-Research documents</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="https://app.mural.co/t/helensharpslandregistrygovuk6700/m/helensharpslandregistrygovuk6700/1653395504672/19f930427e19188e641d7cb990432495344f6819?sender=ub1df836af3558de0f1090510">Mural</a> - Portal refresh user research planning - notifications</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7B4D2F77D1-7C27-4FE9-8D53-DE09ECACAB1C%7D&file=2022%20User%20Research%20-%20Portal%20Refresh%20working%20UR%20plan.docx&action=default&mobileredirect=true">Working plan</a> - Portal Refresh 2022-2023 User Research</li>
                <li><a target="_blank" href="https://trello.com/b/UFFtMm4W/p382-user-research-tasks-portal-refresh-board">Trello</a> - P382 User Research tasks - Portal Refresh Board</li>
              </ul>  

              <hr class="govuk-!-margin-top-7">

              <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Round 1</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/s/Janus/EVW505yWC-JJswtPZlZpzf4BvloYfWk-1ICahUldAFTetw">Research brief</a> - What, why, who, approach/methodology, analysis</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/s/Janus/EV6U4mjSsohClYeVVseakm0BO_kYegZ7VU53wvHMJ2BYwg">Discussion guide</a> - Introduction to UR Team, project and the process for the round of testing</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7B0A454E47-D0DB-4B3F-BA12-B07EA685248E%7D&file=4.%20Scenarios%20-%20Round%201%20Notifications%20in%20VA.docx&nav=eyJjIjoxOTQ5MjU0MjM0fQ&action=default&mobileredirect=true">Scenarios</a> - Remote moderated usability testing of notifications in VA prototype</li>
                <li><a target="_blank" href="https://www.figma.com/file/AOLR55akECWX2uI5MlvldR/VA---Notifications---User-research?node-id=0%3A1">Figma</a> - This document contains designs for round 1 of user research</li>
                <li><a target="_blank" href="userResearch/round1/scenario1/start.html">Prototype: Scenario 1</a> - Display applications that require action by clicking on a filter button in the left menu</li>
                <li><a target="_blank" href="userResearch/round1/scenario2/start.html">Prototype: Scenario 2</a> - Display applications that require action by clicking on a tab at the top of the applications</li>
                <li><a target="_blank" href="https://app.mural.co/t/helensharpslandregistrygovuk6700/m/helensharpslandregistrygovuk6700/1653575641967/e320bbc85f414083a72ed5f500589a8159fb8521?sender=ub1df836af3558de0f1090510">Mural</a> - Round 1 analysis and notes</li>
              </ul>  

              <div class="actionableInsights govuk-!-margin-top-7">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Actionable insights</h3>
                  <ol class="simpleListNumbered">
                    <li>Update side menu filter button to work like a filter</li>
                    <li>Iterate the 'Respond button'</li>
                    <li>Iterate the requisition call to action</li>
                    <li>Maintain existing live service column headers</li>
                    <li>Create a third scenario using filter buttons</li>
                  </ol>  
              </div>

              <hr class="govuk-!-margin-top-7">

              <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Round 2</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7BD3F6054C-2A6E-4C6C-B952-9015D315B533%7D&file=1.%20Research%20brief%20-%20Round%202%20notifications%20in%20VA.docx&nav=eyJjIjo1NTE0NzgwMDl9&action=default&mobileredirect=true">Research brief</a> - What, why, who, approach/methodology, analysis</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7BFF6FADC7-B1CD-485C-BD6B-EFF610B62208%7D&file=2.%20Discussion%20guide%20-%20Round%202%20notifications%20in%20VA.docx&action=default&mobileredirect=true">Discussion guide</a> - Introduction to UR Team, project and the process for the round of testing</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7BF26FD826-8625-4FAA-B234-384767494AD9%7D&file=4.%20Scenarios%20-%20Round%202%20Notifications%20in%20VA.docx&action=default&mobileredirect=true">Scenarios</a> - Remote moderated usability testing of notifications in VA prototype</li>
                <li><a target="_blank" href="https://www.figma.com/file/AOLR55akECWX2uI5MlvldR/VA---Notifications---User-research?node-id=239%3A824">Figma</a> - This document contains designs for round 2 of user research</li>
                <li><a target="_blank" href="userResearch/round2/start.html">Prototype: Scenarios</a> - 3 options clearly displayed for the user to select from</li>
                <li><a target="_blank" href="userResearch/round2/scenario1/start.html">Prototype: Scenario 1</a> - Display applications that require action by using an additional filter option in the left menu</li>
                <li><a target="_blank" href="userResearch/round2/scenario2/start.html">Prototype: Scenario 2</a> - Display applications that require action by clicking on a tab at the top of the applications</li>
                <li><a target="_blank" href="userResearch/round2/scenario3/start.html">Prototype: Scenario 3</a> - Display applications that require action by clicking on filter buttons in an expandable panel</li>
                <li><a target="_blank" href="https://app.mural.co/t/helensharpslandregistrygovuk6700/m/helensharpslandregistrygovuk6700/1657552254613/a859a5beba9695c9c28198e3d6cef9d64160dc10?sender=ub1df836af3558de0f1090510">Mural</a> - Round 2 analysis and notes</li>
              </ul>  

              <div class="actionableInsights govuk-!-margin-top-7">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Actionable insights</h3>
                  <ol class="simpleListNumbered">
                    <li>We will only be testing prototypes with the tabs at the top </li>
                    <li>We need to solve the confusion users experience when returning to an application after replying to a requisition</li>
                  </ol>  
              </div>

              <hr class="govuk-!-margin-top-7">
              
              <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Round 3</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/Shared%20Documents/User%20Research%202021%20-/User%20Research%20from%20March%20%2722/Notifications%20User%20Research/Usability%20testing/Round%203%20%5BAugust%202022%5D/1.%20Research%20brief%20-%20Round%203%20notifications%20in%20VA.docx?d=w06eea909e49742cd8eb4369cde4f1176&csf=1&web=1&e=A8NouP">Research brief</a> - What, why, who, approach/methodology, analysis</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/Shared%20Documents/User%20Research%202021%20-/User%20Research%20from%20March%20%2722/Notifications%20User%20Research/Usability%20testing/Round%203%20%5BAugust%202022%5D/2.%20Discussion%20guide%20-%20Round%202%20notifications%20in%20VA.docx?d=w1c590d15d7404b5ab50afb7f73957950&csf=1&web=1&e=lyA33t">Discussion guide</a> - Introduction to UR Team, project and the process for the round of testing</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/Shared%20Documents/User%20Research%202021%20-/User%20Research%20from%20March%20%2722/Notifications%20User%20Research/Usability%20testing/Round%203%20%5BAugust%202022%5D/4.%20Setting%20the%20scene%20-%20Round%203%20Notifications%20in%20VA.docx?d=wdbd288ad41354619b209418195756d2e&csf=1&web=1&e=NBnvwh">Setting the scene</a> - The task for the user and background context</li>
                <li><a target="_blank" href="https://www.figma.com/file/AOLR55akECWX2uI5MlvldR/VA---Notifications---User-research?node-id=339%3A2">Figma</a> - This document contains designs for round 3 of user research</li>
                <li><a target="_blank" href="userResearch/round3/start.html">Prototype: Designs</a> - 3 options clearly displayed for the user to select from</li>
                <li><a target="_blank" href="userResearch/round3/design1/index.html">Prototype: Design 1</a> - 3 Tab option with step 1 step 2 guidance in expanded application row</li>
                <li><a target="_blank" href="userResearch/round3/design2/index.html">Prototype: Design 2</a> - 3 Tab option with visual progress of application</li>
                <li><a target="_blank" href="userResearch/round3/design3/index.html">Prototype: Design 3</a> - 2 Tab option with ability to add notes to applications</li>
                <li><a target="_blank" href="https://app.mural.co/t/helensharpslandregistrygovuk6700/m/helensharpslandregistrygovuk6700/1659346294644/c8701a624bd003ddd003630b0c41fd457918494a?invited=true&sender=u7b81931fd91845d1315a3863">Mural</a> - Round 3 analysis and notes</li>
                
              </ul>  

              <div class="actionableInsights govuk-!-margin-top-7">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Actionable insights</h3>
                  <ol class="simpleListNumbered">
                    <li>Users expect to see which are the points in the application that need to be addressed when rpelying to requisitions </li>
                    <li>The progress visual element was most helpful for first time users to make the right mental models</li>
                    <li>GDS 'Step by step' - Design 2 users could navigate all the way to the end of the journey</li>
                    <li>Users found the notes panel very useful and would help when replying to requisitions</li>
                  </ol>  
              </div>

              <hr class="govuk-!-margin-top-7">

              <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-7">Round 4</h3>
              <ul class="simpleList">
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/s/Janus/EXgFViWgFVxLtJuon4JQZ2UBgkak9eVkorgUVI9DyVED4Q?e=UdfxqH">Research brief</a> - What, why, who, approach/methodology, analysis</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/doc2.aspx?sourcedoc=%7B0442A10B-8029-4AC8-BF2A-BAE7FB31901B%7D&file=2.%20Discussion%20guide%20-%20Round%204%20notifications%20in%20VA.docx&action=default&mobileredirect=true&cid=58132820-5884-4bd4-8426-8543249750fd">Discussion guide</a> - Introduction to UR Team, project and the process for the round of testing</li>
                <li><a target="_blank" href="https://landregistryuk.sharepoint.com/:w:/r/sites/Janus/_layouts/15/Doc.aspx?sourcedoc=%7B36361BB0-5039-44F1-897D-1548E4B41CEC%7D&file=4.%20Setting%20the%20scene%20-%20Round%204%20Notifications%20in%20VA.docx&wdOrigin=OFFICECOM-WEB.START.REC&ct=1660559571970&action=default&mobileredirect=true">Setting the scene</a> - The task for the user and background context</li>
                <li><a target="_blank" href="https://www.figma.com/file/AOLR55akECWX2uI5MlvldR/VA---Notifications---User-research?node-id=425%3A828">Figma</a> - This document contains designs for round 4 of user research</li>
                <li><a target="_blank" href="userResearch/round4/start.html">Prototype: Designs</a> - 2 options clearly displayed for the user to select from</li>
                <li><a target="_blank" href="userResearch/round4/design1/index.html">Prototype: Design 1 </a> - Detailed expanded row</li>
                <li><a target="_blank" href="userResearch/round4/design2/index.html">Prototype: Design 2 </a> - Standalone application page</li>
                <li><a target="_blank" href="https://app.mural.co/t/helensharpslandregistrygovuk6700/m/helensharpslandregistrygovuk6700/1660302422188/379d63cbec03b6cc145f9cee8614a0a8db8e2adb?sender=ub1df836af3558de0f1090510">Mural</a> - Round 4 analysis and notes</li>
                
              </ul>  

              <div class="actionableInsights govuk-!-margin-top-7">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Actionable insights</h3>
                  <ol class="simpleListNumbered">
                    <li>Coming soon</li>
                  </ol> 
              </div>

            </div>
          </div>


<!-- 
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                  Timeline
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">


                <div class="timelinePost">
                    <div>
                        <strong class="govuk-tag tadDesign">Design</strong>
                        <p class="timelinePostTitle">Round 1</p>
                        <p class="timelinePostDescription">This consisted of 5 particpants testing 2 different prototypes.</p>
                        <p class="timelinePostDate">8th June 2022 - 9th June 2022</p>
                    </div>
                </div>

                <div class="timelinePost">
                  <div>
                    <strong class="govuk-tag tagUseresearch">User research</strong>
                      <p class="timelinePostTitle">Analysis of round 1 user research </p>
                      <p class="timelinePostDescription">The outcome of this meeting was to create a third scenario for round 2</p>
                      <p class="timelinePostDate">10th June 2022</p>
                  </div>
              </div>

              <div class="timelinePost">
                <div>
                    <strong class="govuk-tag tagUseresearch">User research</strong>
                    <p class="timelinePostTitle">Round 1</p>
                    <p class="timelinePostDescription">This consisted of 5 particpants testing 2 different prototypes.</p>
                    <p class="timelinePostDate">8th June 2022 - 9th June 2022</p>
                </div>
            </div>


              
            </div>
          </div> -->

        </div>
    </div>


<!-- This is where you can display pictures in an accessible, expandable gallery. The best picture size to use is 990px by 495px -->

    <div class="govuk-grid-column-full  govuk-!-padding-top-7">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        Gallery
      </h2>
      <p>A selection of concepts and ideas from this project.</p>

      <ul class="js-favs" role=”list”>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-1.jpg" alt="Original requires action concept" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-2.jpg" alt="Homepage design with notifications" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-3.jpg" alt="This image showcases a tab system, allowing the user to toggle" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-4.jpg" alt="Displaying a visual progress of the application" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-5.jpg" alt="An updated expanded application that displays a requisition warning to users" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-6.jpg" alt="A collapsable filter panel" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-7.jpg" alt="Introduction of note taking functionality" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-8.jpg" alt="Cleaner, less grey looking applications screen" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/notifications-9.jpg" alt="Full page application that can be shared" />
          </button>
        </li>
      </ul>


    </div>

  </div>

{% endblock %}
