@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.govuk-heading-xl {
  font-family: "Roboto", sans-serif;
}

.govuk-heading-l {
  font-family: "Roboto", sans-serif;
}

.govuk-heading-m {
  font-family: "Roboto", sans-serif;
}

.govuk-heading-s {
  font-family: "Roboto", sans-serif;
}

.govuk-body {
  font-family: "Roboto", sans-serif;
}

.govuk-body-m {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Roboto", sans-serif;
}

h5 {
  font-family: "Roboto", sans-serif;
}

.govuk-button {
  font-family: "Roboto", sans-serif;
}

.govuk-table {
  font-family: "Roboto", sans-serif;
}

.govuk-main-wrapper--auto-spacing:first-child, .govuk-main-wrapper--l {
  padding-top: 0px;
}

.govuk-footer {
  display: none;
}

.govuk-link:link, a:link {
  color: #006637;
}

.govuk-back-link:before {
  border-width: 2px 2px 0 0;
  border-color: #006637;
}

.govuk-width-container {
  max-width: 100%;
  padding: 0px;
}

.govuk-heading-m {
  margin-bottom: 5px;
}

.govuk-\!-font-size-14 {
  margin-bottom: 5px;
}

.dividerLine10 {
  max-width: 1200px;
  margin: 75px auto;
  height: 10px;
  background-color: #006637;
  display: block;
}

.navbar-container {
  background-color: #006637;
  padding-right: 15px;
  border-bottom: unset;
  height: 67px;
  display: block;
}

.parent {
  display: block;
  position: relative;
  float: left;
  line-height: 67px;
}

.parentIconDown {
  background-image: url("/public/images/icon_govuk_chevrondownWhite.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-x: 83px;
  background-position-y: center;
}

.parentIconDown2 {
  background-image: url("/public/images/icon_govuk_chevrondownWhite.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-x: 108px;
  background-position-y: center;
}

.parent a {
  margin: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.parent:hover > ul {
  display: block;
  position: absolute;
}

.child {
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 99999;
  background: #ffffff;
}

.child li {
  background-color: #ffffff;
  line-height: 28px;
  border-right: #CCC 0px solid;
  width: 100%;
}

.child li a {
  color: #00703C;
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 10em;
}

li:hover {
  background-color: #ffffff;
  color: #00703C;
}

.parent:hover > a {
  color: #00703C;
}

.parentIconDown:hover {
  background-image: url("/public/images/icon_govuk_chevrondownGreen.svg");
}

.parentIconDown2:hover {
  background-image: url("/public/images/icon_govuk_chevrondownGreen.svg");
}

.expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

.iconRight {
  background-image: url("/public/images/icon_govuk_chevronrightGreen.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-x: 134px;
  background-position-y: center;
}

.parentIconDown3 {
  background-image: url(/public/images/icon_Basket.svg);
  background-size: 23px;
  background-repeat: no-repeat;
  background-position-x: 16px;
  background-position-y: 23px;
}

.parentIconDown3:hover {
  background-image: url(/public/images/icon_BasketGreen.svg);
}

.notificationContent {
  padding: 20px;
  width: 290px;
  margin-bottom: 0px;
  background: #fff;
}

.notificationTopRow {
  width: 100%;
  display: flex;
  padding-bottom: 3px;
}

.notificationTitle {
  font-size: 16px;
  font-weight: 700;
  width: 50%;
}

.myAccountTitle {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 3px;
}

.notificationTime {
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  width: 50%;
}

.notification2ndLine {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding-bottom: 15px;
}

.myAccount2ndLine {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding-bottom: 0px;
}

.notificationLink a {
  font-size: 15px;
  width: 100%;
  float: left;
  line-height: unset;
  background-color: unset !important;
  color: #006637 !important;
  font-weight: 700;
  padding: unset;
}

.myAccountLinks a {
  font-size: 15px;
  width: 100%;
  line-height: unset;
  background-color: unset !important;
  color: #006637 !important;
  font-weight: 700;
  padding: unset;
}

.NotificationSingle {
  display: grid;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 20px;
}

.NotificationSingleLast {
  display: grid;
}

.notificationNavNumber {
  color: #1F8153;
  background-color: #fff;
  padding: 5px 9px;
  border-radius: 500px;
  font-weight: 700;
}

.myAccountContent {
  width: 200px;
  padding: 25px;
  background: #ffffff;
}

.myAccountContent a {
  padding: 0px;
}

hr {
  background: #dedede;
  height: 1px;
  border-style: none;
  margin: 15px 0px;
}

#logOut {
  margin-bottom: 0px;
  margin-top: 25px;
  width: 100%;
}

#inputs {
  margin: auto;
  margin-top: 27px;
  max-width: 1200px;
  min-height: 180px;
}

#SectionHero {
  display: flex;
  width: 100%;
}

#heroLeft {
  background: #023D21;
  padding: 50px;
  float: left;
  width: 50%;
  display: flex;
}

#heroLeft .govuk-heading-xl {
  color: #ffffff;
  margin-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  display: inline-flex;
  padding-bottom: 25px;
}

#heroLeft p {
  color: #ffffff;
  font-size: 32px;
}

#heroRight {
  padding: 50px;
  float: left;
  width: 50%;
  background-image: url("/public/images/Hero_Large.png");
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: right;
  background-size: cover;
}

.findapropertyBox {
  background: #ffffff;
  display: block;
  border-radius: 15px;
  box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.26);
  padding: 50px;
  max-width: 550px;
  margin: auto;
}

.govuk-radios__conditional {
  margin-bottom: unset;
  margin-left: unset;
  padding-left: unset;
  border-left: unset;
  width: 100%;
  float: left;
  display: block;
  padding-top: 10px;
}

.searchBox {
  width: 100%;
  height: 35px;
  font-size: 16px;
  padding-left: 0;
  margin-top: 0px;
  float: left;
  border-color: #000;
}

#search-button {
  margin-top: 0px;
  cursor: pointer;
  border-radius: 0px;
  border-style: none;
  height: 40px;
  width: 40px;
  background-color: #006637;
  border-color: #006637;
  margin-left: -40px;
}

#search-button:hover {
  margin-top: 0px;
  cursor: pointer;
  border-radius: 0px;
  border-style: none;
  height: 39px;
  width: 39px;
  background-color: #005a30;
}

#search-button:focus {
  margin-top: 0px;
  cursor: pointer;
  border-radius: 0px;
  border-style: none;
  height: 39px;
  width: 39px;
  border-color: #fd0;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 2px 0 #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c;
}

#search-button2 {
  margin-top: 0px;
  cursor: pointer;
  border-radius: 0px;
  border-style: none;
  height: 40px;
  width: 40px;
  background-color: #006637;
  border-color: #006637;
  margin-left: -40px;
}

#search-button2:hover {
  margin-top: 0px;
  cursor: pointer;
  border-radius: 0px;
  border-style: none;
  height: 39px;
  width: 39px;
  background-color: #005a30;
}

#search-button2:focus {
  margin-top: 0px;
  cursor: pointer;
  border-radius: 0px;
  border-style: none;
  height: 39px;
  width: 39px;
  border-color: #fd0;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 2px 0 #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c;
}

.govuk-radios--small .govuk-radios__conditional {
  margin-left: unset;
  padding-left: unset;
  clear: unset;
}

.heroText {
  margin: auto;
}

.formfield-width-right {
  width: 47.5%;
  margin-left: 2.5%;
  float: left;
  margin-bottom: 25px;
}

.formfield-width-left {
  width: 47.5%;
  margin-right: 2.5%;
  float: left;
  margin-bottom: 25px;
}

.basketContent {
  width: 350px;
  padding: 0px;
  background: #ffffff;
  margin-bottom: 0px;
}

.basketContent a {
  padding: 0px;
}

.basketItem {
  border-bottom: 5px solid #00703C;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.basketItemLast {
  padding-bottom: 0px;
}

.basketSection {
  min-height: 25px;
  font-size: 16px;
  line-height: 23px;
  width: 100%;
  display: inline-block;
}

.basketAddress {
  width: 60%;
  float: left;
}

.basketTitle {
  width: 40%;
  float: left;
}

.basketRemove {
  float: right;
  text-align: right;
}

.basketRemoveText {
  color: #D10A1E !important;
  font-size: 16px;
}

.basketItemRemove {
  float: right;
  display: block;
  background: #ffffff;
  text-align: center;
  padding: 15px 16px 12px 13px;
  margin-top: -1px;
  margin-left: 10px;
  margin-right: -7px;
  background-image: url(/public/images/icon_trash_grey.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.basketItemRemove:hover {
  background-image: url(/public/images/icon_trash_red.svg);
}

.basketItemSelected {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.basketItemPrice {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  float: right;
}

.basketItemSubText {
  color: #000000;
  font-size: 19px;
  font-weight: 700;
}

.basketItemSubTotal {
  color: #000000;
  font-size: 19px;
  font-weight: 400;
  text-align: right;
  float: right;
}

.basketItems {
  max-height: 400px;
  overflow: auto;
  padding: 25px 25px 0px 25px;
}

.basketCounter {
  color: #006637;
  background-color: #fff;
  border-radius: 100px;
  padding: 0px;
  line-height: 32px;
  width: 30px;
  height: 30px;
  display: none;
  text-align: center;
  float: right;
  margin-top: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.basketCheckoutSection {
  margin: 0px 25px 25px 25px;
  display: flex;
  padding-top: 25px;
}

.basketCheckout {
  width: 50%;
  float: left;
}

.basketSubtotal {
  width: 50%;
  float: left;
  line-height: 39px;
  font-size: 16px;
}

#NewsPanel {
  width: 100%;
  display: flex;
}

#NewsPanelContent {
  max-width: 1200px;
  margin: auto;
}

#NotificationsPanel {
  background-color: #F3F2F1;
  height: 110px;
  width: 100%;
}

#EditableLinksPanel {
  padding: 100px 0px 0px 0px;
  display: flow-root;
}

#NotificationsPanelContent {
  max-width: 1200px;
  margin: auto;
}

#NotificationsPanelItem {
  width: 25%;
  margin: 0%;
  float: left;
}

#ExtraConetentPanel {
  background-color: #ffffff;
  width: 100%;
}

#ExtraConetentPanelContent {
  max-width: 1200px;
  margin: auto;
}

#linksPanel {
  max-width: 1200px;
  margin: auto;
}

#serviceInformationPanel {
  max-width: 1200px;
  margin: auto;
  padding: 0px;
}

#currentDispatchPanel {
  max-width: 1200px;
  margin: auto;
  padding: 0px 0px 75px 0px;
}

#contentPanel {
  max-width: 1200px;
  margin: auto;
  padding: 0px;
}

#contentPanelCTA {
  max-width: 100%;
  margin: 75px 0px;
  padding: 100px 0px;
  background-color: #006637;
}

.hmlr-card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.hmlr-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 0;
}

.hmlr-card-group li:hover {
  background-color: unset;
}

.linkTextSection {
  background: #fff;
  border: 1px solid #d8dde0;
  position: relative;
  width: 100%;
  border-bottom-width: 4px;
}

.linkTextSectionContent {
  padding: 32px;
}

.linkTextSection:hover {
  border-color: #aeb7bd;
}

.sectionTitle {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 30px;
}

.newsImage {
  margin-bottom: 15px;
  max-height: 251px;
  overflow: hidden;
  border: 1px solid #d8dde0;
}

#newsArticle {
  width: 380px;
  margin-right: 30px;
  float: left;
}

.newsTextSection h3 {
  padding-top: 0px;
}

.newsTextTitle {
  margin-bottom: 10px;
  margin-top: 0px;
}

.newsTextContent {
  font-size: 16px;
}

.newsTextLink {
  color: #006637;
  line-height: 40px;
}

.newsTextLink a {
  color: #006637;
}

.sectionContent {
  display: flex;
  width: 100%;
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: calc(100vh - 190px);
  overflow-y: auto;
}

.item2 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: calc(100vh - 190px);
}

.contentSection {
  margin-bottom: 75px;
}

.resultsFound {
  color: #757575;
  font-size: 16px;
  font-weight: 600;
}

.bs-accordion .panel-heading {
  padding: 0;
}

.bs-accordion .panel-heading a .glyphicon.glyphicon-chevron-right {
  transform: rotate(0deg);
  transition: transform 350ms cubic-bezier(0.645, 0.09, 0.355, 1);
}

/* Bootstrap accordion */
.bs-accordion .panel-heading a {
  display: inline-table;
  padding: 15px 25px 10px 25px;
  text-decoration: none;
  width: -webkit-fill-available;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-group .panel {
  margin-bottom: 10px;
  border-radius: 0px;
}

.panel-group .panel + .panel {
  margin-top: 5px;
}

.panel-body {
  padding: 15px 25px 25px 25px;
  background-color: #f5f5f5;
  color: #0b0c0c;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-default > .panel-heading {
  color: #0b0c0c;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.bs-accordion .panel-heading {
  padding: 0;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.glyphicon {
  position: relative;
  top: 0px;
  display: inline-block;
}

.pull-right {
  float: right;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

.accordionTitle {
  color: #00703C;
  font-size: 19px;
  font-weight: 700;
  float: left;
  margin-right: 0px;
  border-bottom: 0px;
  padding: 0px;
  width: 25%;
  line-height: unset !important;
}

.accordionAddress {
  color: #000000;
  font-size: 19px;
  font-weight: 400;
  float: left;
  border-bottom: 0px;
  padding: 0px;
  width: 45%;
  line-height: unset !important;
}

.accordionCost {
  line-height: unset !important;
  width: 20%;
}

.accordionChevron {
  line-height: unset !important;
}

.govuk-table__cell {
  padding: 0;
  border-top: 1px solid #b1b4b6;
  border-bottom: 0px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
  line-height: 50px;
}

.govuk-table__header {
  padding: 0;
  border-bottom: 0px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
  line-height: 50px;
}

.govuk-checkboxes--small .govuk-checkboxes__label:before {
  top: 13px;
  left: 10px;
  background: #ffffff;
}

.govuk-checkboxes--small .govuk-checkboxes__label:after {
  top: 20px;
  left: 16px;
  width: 12px;
  height: 6.5px;
  border-width: 0 0 3px 3px;
}

.backgroundMap {
  background-image: url("/public/images/mapsearchmap.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundMap1 {
  background-image: url("/public/images/mapsearchmap_location1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundMap2 {
  background-image: url("/public/images/mapsearchmap_location2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.addedToBasket {
  background: #D2FAE7;
  color: #000;
  padding-left: 10px;
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -2px;
}

.additionalDocButton {
  margin-top: 25px;
}

.wide960 {
  max-width: 960px;
  margin: auto;
}

.wide1100 {
  max-width: 1100px;
  margin: auto;
}

.wide80percent {
  width: calc(100% - 250px);
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}

.wide20percent {
  width: 250px;
  float: left;
  box-sizing: border-box;
  padding: 0 15px 0px 0px;
}

.accordionRemove {
  color: #D10A1E !important;
}

.accordionDownload {
  color: #006637 !important;
}

.govuk-table {
  margin-bottom: 0px;
  font-size: 16px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dddddd;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dddddd;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dddddd;
  padding: 0px 15px;
}

.dividerLine5 {
  margin: 10px auto;
  height: 5px;
  background-color: #006637;
  display: block;
}

.referenceFormfield {
  height: 52px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 0px 15px;
  font-weight: 400;
  font-size: 16px;
}

.referenceFormfieldReadOnly {
  height: 52px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 12px 15px 0px 15px;
  font-weight: 400;
  color: #0b0c0c;
  background-color: #f5f5f5;
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 400;
}

.accordionDownload {
  color: #006637 !important;
}

.govuk-panel--confirmation {
  color: #ffffff;
  background: #006637;
}