.select2-container--default .select2-results__option--group {
  padding: 0;
  font-family: arial;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 12px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #000000;
  line-height: 39px;
  font-family: arial;
  font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered:focus {
  outline: none;
}

.select2-container {
  outline: none;
}

.select2-container--default .select2-selection--single:focus {
  outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  font-family: arial;
  font-size: 16px;
}

.select2-results__option {
  padding: 6px 6px 6px 10px;
  user-select: none;
  -webkit-user-select: none;
  font-family: arial;
  font-size: 16px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 39px;
  color: #000000;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 0px;
  height: 39px;
}

.select2-container {
  width: 275px !important;
}

.select2-container--open .select2-dropdown--below {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px;
  overflow-y: auto;
}

.form-label-bold {
  font-weight: 600;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url(https://cdn4.iconfinder.com/data/icons/user-interface-174/32/UIF-76-512.png);
  background-color: transparent;
  background-size: contain;
  border: none !important;
  height: 20px !important;
  width: 20px !important;
  margin: auto !important;
  top: 8px;
  left: -5px;
}

.select2-search--dropdown {
  padding: 0px;
  border-bottom: 1px solid #000000;
  position: absolute;
  top: -38px;
  width: 100%;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 0px solid #aaa;
  font-family: arial;
  font-size: 16px;
  background-color: #ffffff;
  padding: 0px;
  height: 37px;
  line-height: 37px;
  padding-left: 10px;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: 0;
}

.select2-dropdown {
  border: 1px solid #000000;
  border-radius: 0px;
}

.select2-container--default .select2-results__group {
  padding: 6px 6px 6px 10px;
}