<!DOCTYPE html>
{% extends "layouts/layout_Notifications.html" %}
{% block pageTitle %} View Applications
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation2.html" %} 

<style>

.govuk-header {
display:none;
}

.govuk-main-wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
    user-select:none;
}

.buttonPositionRight {
  float:right;
  margin-left: 15px;
  margin-bottom:20px;;
}

.govuk-button-blue {
  background-color: #1d70b8;
}

.govuk-button-blue:hover {
  background-color: #003078;
}

.govuk-grid-column-one-half {
    max-width: 715px;
}

.expandedTitles {
    font-size: 19px;
    line-height: 25px;
}

.contentSection > div {
    flex: 48%;
    margin-bottom: 10px;
    padding-right: 2%;
}

/* .app-step-nav--large .app-step-nav__toggle-link {
    display: none;
} */

.correspondence li {
    font-size: 19px;
    padding-bottom: 10px;
    font-weight: 600;
}

</style>


<div style="margin: auto;max-width: 1400px;padding:50px 0px;">

  <div class="govuk-grid-row restyledAccordion">
    
    <!-- Back button -->
    <div class="govuk-grid-column-one-third">
        
      <p><a href="javascript: history.go(-1)" class="govuk-back-link">Back to applications</a></p>

    </div>

    <!-- Action buttons -->
    <div class="govuk-grid-column-two-thirds" style="position:relative;">
        
        <div id="shareLinkText" class="copyLinkBox">
            <p id="shareLinkTextLink" style="text-align: right;"></p>
        </div>

    <input id="shareLink" type="button" value="Share application link" class="govuk-button govuk-button-blue buttonPositionRight" data-module="govuk-button"/>

      <button class="govuk-button buttonPositionRight govuk-button--secondary" data-module="govuk-button" onclick="window.location.href='#'">
        Save as PDF
      </button>

      <button class="govuk-button buttonPositionRight govuk-button--secondary" data-module="govuk-button" onclick="window.location.href='#'">
        Application enquiry
      </button>

      <button class="govuk-button buttonPositionRight govuk-button--secondary" data-module="govuk-button" onclick="window.location.href='#'">
        Update application
      </button>


    </div>

    <!-- Application progress visual -->
    <div class="govuk-grid-column-full">

      <div class="expandedApplicationProgress restyledAccordion" style="margin:30px 0px;">

        <details class="govuk-details" data-module="govuk-details" open>
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text" >
                Application progress
              </span>
            </summary>
            <div class="govuk-details__text">
                <div class="progressGraphicMiddle">
                    <img src="/public/images/applicationProgress_HMLRtoReview.png" class="progressGraphic" alt="documentGrey" style="">
                </div>
            </div>

        </details>

      </div>

    </div>


        <div class="govuk-grid-column-one-half expandedLeftColumn">

        <!-- Application details -->
        <details class="govuk-details" data-module="govuk-details" open>
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text" >
                    Application details
                </span>
            </summary>

            <div class="govuk-details__text" style="padding-bottom:0px;">
                <div class="contentSection">

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Title number</span>
                        <h3 class="govuk-heading-m">ST786498</h3>
                    </div>

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Application type</span>
                        <h3 class="govuk-heading-m">Register update</h3>
                    </div>

                    <div class="ContentItem">
                        <span class="govuk-caption-m">HMLR reference</span>
                        <h3 class="govuk-heading-m">LR545454</h3>
                    </div>

                    <!-- <div class="ContentItem">
                        <span class="govuk-caption-m">Status</span>
                        <h3 class="govuk-heading-m">Awaiting Processing</h3>
                    </div> -->

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Customer reference</span>
                        <h3 class="govuk-heading-m">Jacob.Kellen.76</h3>
                    </div>

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Parent Titles</span>
                        <h3 class="govuk-heading-m">PL789232</h3>
                    </div>
                    
                    <!-- <div class="ContentItem">
                        <span class="govuk-caption-m">Priority period</span>
                        <h3 class="govuk-heading-m">12/05/22 - 25/06/22</h3>
                    </div> -->

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Received by HMLR</span>
                        <h3 class="govuk-heading-m">22/05/22</h3>
                    </div>

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Estimated completion date</span>
                        <h3 class="govuk-heading-m">22/07/2022</h3>
                    </div>

                </div>
            </div>
        </details>

          <!-- Application notes -->
          <details class="govuk-details" data-module="govuk-details" open>
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text" >
                  Application notes
                </span>
              </summary>
              <div class="govuk-details__text">
                <div style="padding-top: 10px;">
                    <div class="note">
                        <div class="noteBottom">
                            <div class="noteName">Craif Hopper <span style="font-weight:400;">- 03/06/22 at 13:17</span></div>
                            <div class="noteText">Both points replied to!!</div>
                        </div>
                    </div>
                </div>
                <!-- <div style="padding-top: 10px;">
                    <div class="note">
                        <div class="noteBottom">
                            <div class="noteName">Jill Peterson <span style="font-weight:400;">- 11/06/22 at 15:22</span></div>
                            <div class="noteText">I've replied to the last point.</div>
                        </div>
                    </div>
                </div> -->

                
                <div id="noteEntry" style="padding-top:10px;">
                    <div id="middleNE">
                        <input class="govuk-input" id="noteText" placeholder="Type your note here..."></input>
                    </div>

                    <button class="govuk-button" data-module="govuk-button" style="margin-right:0px;margin-top:20px;margin-bottom:20px;" onclick="show_now();">
                        Save note
                    </button>


               

                  </div>
              </div>
          </details>

      </div>

      <div class="govuk-grid-column-one-half expandedRightColumn">
          
        <!-- Correspondence -->
        <details class="govuk-details" data-module="govuk-details" open>
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text" >
                Correspondence
            </span>
            </summary>
            <div class="govuk-details__text">
                <div class="contentSection">

                    <div class="ContentItem">
                        <span class="govuk-caption-m">HMLR to review</span>
                        <ul class="correspondence">
                            <li>
                                <a target="_blank" href="/public/documents/userResearchRequisition.pdf">Requisition issued 02/06/22</a>
                            </li>
                            <!-- <li>
                                <a target="_blank" href="#">Letter issued 05/08/22</a>
                            </li>
                            <li>
                                <a target="_blank" href="#">Letter issued 04/08/22</a>
                            </li> -->
                        </ul>
                    </div>

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Requisition resolved</span>
                        <h3 class="govuk-heading-m">-</h3>
                    </div>

                    <div class="ContentItem">
                        <span class="govuk-caption-m">Information only</span>
                        <ul class="correspondence">
                            <li>
                                <a target="_blank" href="#">Letter issued 01/06/22</a>
                            </li>
                            <!-- <li>
                                <a target="_blank" href="#">Letter issued 07/06/22</a>
                            </li> -->
                            <!-- <li>
                                <a target="_blank" href="#">Letter issued 04/08/22</a>
                            </li> -->
                        </ul>
                    </div>

                </div>
            </div>
        </details>

        <!-- Files -->
        <details class="govuk-details" data-module="govuk-details" open>
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text" >
                Files
                </span>
            </summary>
            <div class="govuk-details__text" style="padding-bottom:20px;">
                <div class="contentSection">
                        <h3 class="govuk-heading-m">-</h3>
                        <!-- <ul class="correspondence">
                            <li>
                                <a target="_blank" href="#">Search result dated 27/05/22</a>
                            </li>
                            <li>
                                <a target="_blank" href="#">Official Copy of Register dated 02/09/22</a>
                            </li>
                            <li>
                                <a target="_blank" href="#">Official Copy of Title Plan dated 02/09/22</a>
                            </li>
                        </ul> -->
                </div>
            </div>
        </details>

      </div>



  </div>

</div>


{% include "includes/notificationsFooter.html" %} 

<!-- Content Area - End -->

{% endblock %}