{% extends "layouts/layout_ProjectPage.html" %}

{% block pageTitle %}
Search for property documents
{% endblock %}

{% block content %}



<div class="govuk-grid-row govuk-body">

  <div class="govuk-grid-column-full backButton">
    <a href="/index.html" class="govuk-back-link" style="margin-bottom:20px;">Back to projects</a>
</div>

<!-- This is where the project title goes and a small descritpion of what the work covers. -->

    <div class="govuk-grid-column-full govuk-!-padding-bottom-9  govuk-!-padding-top-6">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
        Search for property documents
      </h1>
      


    </div>


<!-- This is where the accordion content is added. If the signed-off design is not required, simply comment it out. -->

    <div class="govuk-grid-column-full">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Overview
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              
              <p>The aim of this project is to create a streamlined shopping basket experience for users, saving them precious time by grouping 6 - 9 legacy services.</p>

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-5">Project team</h3>

              <ul class="simpleList">
                <li>Andy Carr - <span class="jobTitle">Interaction design</span></li>
                <li>Lauren Dowling - <span class="jobTitle">Interaction design</span></li>
                <li>James Thomas - <span class="jobTitle">Content design</span></li>
                <li>Jon Parker - <span class="jobTitle">User research</span></li>
                <li>Juan Pinto Del Rio - <span class="jobTitle">User research</span></li>
              </ul>
            </div>
          </div>

          <!-- <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  Signed-off design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p class='govuk-body'>Lorem ipsum</p>
            </div>
          </div> -->

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Design
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
              
              <p>Coming soon...</p>
              

            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                  User research
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">

<p>User research may have been lost when Jon Parker and Juan Pinto del Rio left HM Land Registry. The coded prototype best reflects the findings/direction to take, from the user research at the time.</p>

<h3 class="govuk-heading-s govuk-!-margin-bottom-2 govuk-!-margin-top-5">Interactive designs</h3>
<ul class="simpleList">

  <li><a target="_blank" href="https://portal-refresh.herokuapp.com/requestTitleInformation/LD_prototype/what_service">Prototype 1</a> - "Request Title Information" was the first attempt at grouping multiple documents for purchase.</li>
  

  <li><a target="_blank" href="/projects/searchForPropertyDocuments/userResearch/round1/index">Prototype 2</a> - Allows users to add multiple documents to a fleshed out shopping basket and then checkout.</li>
</ul> 
             

            </div>
          </div>


        </div>
    </div>


<!-- This is where you can display pictures in an accessible, expandable gallery. The best picture size to use is 990px by 495px -->

    <div class="govuk-grid-column-full  govuk-!-padding-top-7">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        Gallery
      </h2>
      <p>A selection of concepts and ideas from this project.</p>

      <ul class="js-favs" role=”list”>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-2.png" alt="First design to allow users to enter a single title number in exchange for multiple documents" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-3.png" alt="First design of a shopping basket experience" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-4.png" alt="Documents have been added to the basket" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-6.png" alt="Iterated design that brings searching for documents on to the homepage" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-7.png" alt="Search results with Mapsearch and document selection" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-8.png" alt="Close up of the navigation menu shopping basket" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-9.png" alt="An example of the checkout screen" />
          </button>
        </li>
        <li>
          <button aria-expanded="false">
            <img src="/public/images/searchForProperty-10.png" alt="Example of the order confirmation screen" />
          </button>
        </li>
      </ul>


    </div>

  </div>

{% endblock %}
