{% extends "layout.html" %}


{% block pageTitle %}
Coditional radio buttons
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% endblock %}



{% block content %}

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-padding-bottom-9">
        <h1 class=" govuk-heading-xl" style="margin-bottom:10px;">
            Radio Buttons
        </h1>
        <h1 class=" govuk-heading-l">
            Displaying content based on radio button selection
        </h1>
        <p class="govuk-body">
            In this example, you will see how to display content based on the selection on a particular radio button. This method can be repeated multiple times to allow for embedded content to sit within embedded content and so on.
        </p>
    </div>
</div>


<!--Theis is the first question with 3 radio button answers-->
<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <form class="form" action="" method="post">
         <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
               <div>
                  <h3 class="govuk-heading-m">Do you think this example will be helpful to you?</h3>
               </div>
               <div class="govuk-radios" id="myRadioGroup">
                   
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="A" id="Q1A">
                     <label class="govuk-label govuk-radios__label" for="Q1A">
                     Yes
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="B" id="Q1B">
                     <label class="govuk-label govuk-radios__label" for="Q1B">
                     No
                     </label>
                  </div>
                  <div class="govuk-radios__item">
                     <input class="govuk-radios__input" type="radio" name="question1" value="C" id="Q1C">
                     <label class="govuk-label govuk-radios__label" for="Q1C">
                     Don't know
                     </label>
                  </div>
               </div>
            </fieldset>
         </div>
      </form>
   </div>
</div>
<!--The content in the next DIV appears when the YES radio button is selected-->
<div class="govuk-grid-row desc" id="question1A">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3">
      <hr style="margin-bottom:25px;">
      <h3 class="govuk-heading-m" style="margin-bottom: 10px;">
         That's the correct answer! Next question, what does 2 + 2 equal?
      </h3>
      <div class="govuk-radios" id="myRadioGroup2">
          <!--These radio buttons are for the question that appears if you selected YES in question 1. Below you can see they are name="question2"-->
         <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" name="question2" value="A" id="Q2A">
            <label class="govuk-label govuk-radios__label" for="Q2A">
            3
            </label>
         </div>
         <div class="govuk-radios__item">
            <input class="govuk-radios__input" type="radio" name="question2" value="B" id="Q2B">
            <label class="govuk-label govuk-radios__label" for="Q2B">
            4
            </label>
         </div>
        <!--This answer appears if you select the radio button with the answer"3" next to it-->  
         <div class="govuk-grid-row desc2" id="question2A">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
               <hr style="margin-bottom:25px;">
               <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Better luck next time!</h3>
               <p><a href="https://www.bbc.co.uk/bitesize/subjects/z826n39" target="_blank">
                  Maths for beginners!</a>
               </p>
            </div>
         </div>
            <!--This answer appears if you select the radio button with the answer"4" next to it--> 
         <div class="govuk-grid-row desc2" id="question2B">
            <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
               <hr style="margin-bottom:25px;">
               <h3 class="govuk-heading-s" style="margin-bottom: 10px;">Congratulations!</h3>
               <p><a href="https://www.bbc.co.uk/bitesize/subjects/z38pycw" target="_blank">
                  Maths for Pros!</a>
               </p>
            </div>
         </div>

      </div>
   </div>
</div>
<!--This answer appears if you select the "NO" radio button in question 1--> 
<div class="govuk-grid-row desc" id="question1B">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
      <hr style="margin-bottom:25px;">
      <h3 class="govuk-heading-s" style="
         margin-bottom: 10px;
         ">That's disappointing!</h3>
      <p><a href="https://www.gov.uk/government/organisations/land-registry" target="_blank">
         Here's a link to some content</a>
      </p>
   </div>
</div>
<!--This answer appears if you select the "Don't know" radio button in question 1--> 
<div class="govuk-grid-row desc" id="question1C">
   <div class="govuk-grid-column-full govuk-!-padding-bottom-3 govuk-!-padding-top-3">
      <hr style="margin-bottom:25px;">
      <h3 class="govuk-heading-s" style="
         margin-bottom: 10px;
         ">A third option, that's useful to know how to do!</h3>
      <p><a href="https://www.gov.uk/government/organisations/land-registry" target="_blank">
         Here's a different link</a>
      </p>
   </div>
</div>


<!--Each question containing radio buttons requires it's own javascript element below. If you look at the code, you can see 'question1' and 'question2'. In the 2nd part of the javascript you can see it referencing "div.desc". This class needs to be put in the div containing an answer.--> 
<script>
   $(document).ready(function() {
       $("input[name$='question1']").click(function() {
           var test = $(this).val();
   
           $("div.desc").hide();
           $("#question1" + test).show();
       });
   });
   
   $(document).ready(function() {
       $("input[name$='question2']").click(function() {
           var test = $(this).val();
   
           $("div.desc2").hide();
           $("#question2" + test).show();
       });
   });
  
</script>

<!--This class helps to keep all answers hidden when the page loads--> 
<style>
   .desc {
   display:none;
   }
   .desc2 {
   display:none;
   }

</style>


{% endblock %}