<!DOCTYPE html>
{% extends "layouts/layout_homepage.html" %}
{% block pageTitle %} View applications - Guidance
{% endblock %}
{% block content %}

{% include "includes/notificationsNavigation.html" %} 

<style>
.govuk-width-container-fixed {
    max-width: 1080px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 100px;
}


.govuk-heading-s {
    font-family: 'Roboto', sans-serif;
}

.govuk-accordion__section-toggle-text {
  color: #006637;
}

.govuk-accordion-nav__chevron--down {
  color: #006637;
}

.govuk-accordion-nav__chevron {
  color: #006637;
}

.govuk-accordion__show-all-text {
  color: #006637;
}

li:hover {
  color: #0b0c0c;
}
</style>


<!-- Back & clear data top -->
<!-- Back & clear data top -->
<div>
  <div style="margin: auto;">
      
    <main class="govuk-main-wrapper" style="padding:100px 0px;">

      <div class="govuk-width-container wide960">
      
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Scenarios
            </h1>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                  <a class="govuk-link" href="./index_V7A.html">A</a>
                </li>
                 <li>
                  <a class="govuk-link" href="./index_V7B.html">B</a>
                </li>
                <li>
                  <a class="govuk-link" href="./index_V7C.html">C</a>
                </li>
                <li>
                  <a class="govuk-link" href="./index_V7D.html">D</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
      
    </main>
  </div>
</div>


<div class="govuk-grid-column-full" style="position:fixed;bottom:0;padding:0px;border-top:5px solid #00703C;">
   
  <div style="padding:30px; background: #f3f2f1;">

    <p style="color: #6d6d6d; text-decoration: none;font-size: 16px;margin-bottom:15px;">The following links open in a new tab.</p>

    <a class="footlink" style="color: grey; text-decoration: none;"><u>Terms and conditions</u></a>
    |
    <a class="footlink" style="color: grey; text-decoration: none;"><u>Accessibility statement</u></a>
    |
    <a class="footlink" style="color: grey; text-decoration: none;"><u>Freedom of information</u></a>
    |
    <a class="footlink" style="color: grey; text-decoration: none;"><u>© Crown copyright</u></a>

  </div>
</div>


<!-- Content Area - End -->

{% endblock %}