
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Portal Refresh Plus
{% endblock %}

{% block content %}

<style>

.govuk-heading-xl {
    margin-bottom: 0px;
}

  .govuk-heading-l {
    margin-bottom: 10px;
}

.govuk-grid-column-full {
padding-bottom:50px;
}

ol {
  padding-inline-start: 20px;
}

li {
  padding-bottom:5px;
}


</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Portal Refresh Plus
      </h1>
    </div>

    <div class="govuk-grid-column-full content-boxes">
      <h2 class="govuk-heading-l">Prototypes</h2>
      <p style="">
        Designs and concepts that are in development
      </p>
      <!-- <p style="margin-bottom:0px;">
        View Applications Plus - <a target="_blank" href="va-plus/index.html">View</a>
      </p> -->


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Notifications
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>These prototypes are for User Researching testing the most intuitive way for users to see what applications require action.</b>

          <ul>
            <li>
              <a target="_blank" href="notifications/ur-round1/scenario1/start.html">Scenario 1</a> - This design allows the user to see which applications require action through the use of a filter in the left side menu.
            </li>
            <li>
              <a target="_blank" href="notifications/ur-round1/scenario2/start.html">Scenario 2</a> - This design allows the user to see which applications require action through the use of a tabbing system.
            </li>
         
          </ul>
        </div>

      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            View Applications Plus
          </span>
        </summary>
        <div class="govuk-details__text">

            This prototype allows users to create their own groups to access and filter applications - <a target="_blank" href="va-plus/V1/index.html">View</a><br><br>

            <b>User journey through the prototype:</b><br>
<ol>
  <li>
    <a target="_blank" href="va-plus/V1/index.html">Index page</a> - Additional Group filter, Create new group button and group column in data table
  </li>
  <li>
    <a target="_blank" href="va-plus/V1/groupCreate.html">Create new group</a> - This page allows users to create groups, add team members and applications
  </li>
  <li>
    <a target="_blank" href="va-plus/V1/indexUpdated.html">Index page updated</a> - This page contains additional applications with a new custom group filter added
  </li>
  <li>
    <a target="_blank" href="va-plus/V1/groupView.html">View group</a> - This is a 'read-only' page to view an existing group
  </li>
  <li>
    <a target="_blank" href="va-plus/V1/groupEdit.html">Edit group</a> - This is a page allows user to edit an existing group
  </li>

</ol>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Search for property documents
          </span>
        </summary>
        <div class="govuk-details__text">
          V1 - This prototype creates a shopping basket experience to streamline the user journey - <a target="_blank" href="officialcopies/V1/index.html">View</a>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Homepage
          </span>
        </summary>
        <div class="govuk-details__text">
          V1 - A modernised homepage that allows the user to customise their experience - <a target="_blank" href="homepage/V1/index.html">View</a>
        </div>
      </details>


      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Additional functionality
          </span>
        </summary>
        <div class="govuk-details__text">
          Conditional radio buttons that reveal new questions below - <a target="_blank" href="extraFunctionality/conditionalRadioButtons.html">View</a>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            VA Guidance page
          </span>
        </summary>
        <div class="govuk-details__text">
         <b>E23-74b</b> Version 1 - Text update but not a design update <a target="_blank" href="viewApplicationsGuidance/V1.html">View</a>
        </div>
        <div class="govuk-details__text">
          <b>E23-74b</b> Version 2 - Uses a GDS accordion <a target="_blank" href="viewApplicationsGuidance/V2.html">View</a>
         </div>

      </details>
      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Error screens
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>E23-75a</b> Timeout (30secs) too many applications to bring back in the time permitted (from a search) - <a target="_blank" href="errorScreen/e23-75a.html">View</a>
        </div>
        <div class="govuk-details__text">
          <b>E23-75b</b> Data not available (system broken) - <a target="_blank" href="errorScreen/e23-75b.html">View</a>
        </div>
        <div class="govuk-details__text">
          <b>E23-75c</b> System is unable to determine the opt in/out status of the business unit - <a target="_blank" href="errorScreen/e23-75c.html">View</a>
        </div>
        <div class="govuk-details__text">
          <b>E23-75d</b> Template for multiple error messages - <a target="_blank" href="errorScreen/e23-75d.html">View</a>
        </div>
      </details>



    </div>

    <div class="govuk-grid-column-full content-boxes">
      <h2 class="govuk-heading-l">Designs</h2>
      <p>
        For developers to use as references
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Error screens
          </span>
        </summary>
        <div class="govuk-details__text">
          <b>E23-75a</b> Timeout (30secs) too many applications to bring back in the time permitted (from a search) - <a target="_blank" href="errorScreen/e23-75a.html">View</a>
        </div>
        <div class="govuk-details__text">
          <b>E23-75b</b> Data not available (system broken) - <a target="_blank" href="errorScreen/e23-75b.html">View</a>
        </div>
        <div class="govuk-details__text">
          <b>E23-75c</b> System is unable to determine the opt in/out status of the business unit - <a target="_blank" href="errorScreen/e23-75c.html">View</a>
        </div>
        <div class="govuk-details__text">
          <b>E23-75d</b> Template for multiple error messages - <a target="_blank" href="errorScreen/e23-75d.html">View</a>
        </div>
      </details>



    </div>


  </div>

{% endblock %}
