
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Portal Refresh Plus
{% endblock %}

{% block content %}

<style>

.govuk-heading-xl {
    margin-bottom: 0px;
}

  .govuk-heading-l {
    margin-bottom: 10px;
}

.govuk-grid-column-full {
padding-bottom:50px;
}

</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Portal Refresh Plus
      </h1>
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Prototypes</h2>
      <p style="">
        This content is designed for user research and demos
      </p>
      <p style="margin-bottom:0px;">
        View Applications Plus - <a href="va-plus/index.html">View</a>
      </p>

      
    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Designs</h2>
      <p style="margin-bottom:0px;">
        This content is for developers to use as references
      </p>
    </div>


  </div>

{% endblock %}
