
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Portal Refresh Plus
{% endblock %}

{% block content %}

<style>

.govuk-heading-xl {
    margin-bottom: 0px;
}

  .govuk-heading-l {
    margin-bottom: 10px;
}

.govuk-grid-column-full {
padding-bottom:50px;
}

ol {
  padding-inline-start: 20px;
}

li {
  padding-bottom:5px;
}

.projectImage {
  display:block;
  background: red;
  width: 100%;
  min-height: 100px;
}

</style>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Portal Refresh
      </h1>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="projectImage"></div>

    </div>






  </div>

{% endblock %}
